@import './theme.scss';
@import './functions.scss';

@include mobile {
    mat-card, .table {
        padding: 1rem 0.5rem !important;
    }
}

mat-card-title, .mat-expansion-panel-header-title {
    color: mat-color($theme-primary);
    display: flex !important;
}

.mat-dialog-title {
    color: mat-color($theme-primary);
}

.mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.snackbar-error {
    background-color: mat-color($theme-warn);
    color: #fff !important;
    .mat-simple-snackbar-action {
        color: #fff !important;
    }
}

.snackbar-success {
    background-color: mat-color($theme-primary);
    color: #fff !important;
    .mat-simple-snackbar-action {
        color: #fff !important;
    }
}

header {
    font-size: 24pt;
    padding: 0 0 1rem 0;
    color: mat-color($theme-primary);
    font-weight: 300;
}

.mat-option-text {
    overflow-x: auto !important;
}

.mat-header-cell, .mat-footer-cell, .mat-cell {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.mat-chip {
    text-align: center;
}

.mat-row:hover {
    background-color: #F5F5F5 !important;
}

.mat-tab-label:hover {
    background-color: #aaa !important;
}

.table-form {
     .mat-form-field-wrapper, .form-select, .checkbox, .mat-radio-button {
        padding: 0 !important;
        margin: 0 !important;
    }

    mat-form-field, .mat-form-field {
        padding: 5px !important;
        min-width: 13rem !important;
        width: 100% !important;
    }
}

.mat-chip {
    cursor: pointer !important;
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none; // Safari
    -khtml-user-select: none; // Konqueror HTML
    -moz-user-select: none; // Old versions of Firefox
    -ms-user-select: none; // Internet Explorer/Edge
    user-select: none; // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox
}

.mat-icon {
    @extend .noselect;
}

.mat-standard-chip {
    height: auto !important;
}

.capitalize {
  text-transform: capitalize;
}
