$mobile: 768;

@mixin mobile {
  @media only screen and (max-width: $mobile * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $mobile * 1px) {
    @content;
  }
}

$ipad: 1024;

@mixin ipad {
  @media only screen and (width: $ipad * 1px) {
    @content;
  }
}

@mixin ipad {
  @media only screen and (height: $ipad * 1px) {
    @content;    
  }
}

$bigscreen: 1366;

@mixin bigscreen {
  @media only screen and (min-width: $bigscreen * 1px) {
    @content;
  }
}
