
<div>
    <app-aluno-portal></app-aluno-portal>
</div>

<div class="body" style="padding: 1.5rem !important;"> <!-- tela para supletivo-->

    <div *ngIf="cursoEjaEnccejaEAD != 'EAD'">
        <div class="sistema">
            
            <h3>Instruções prova on-line</h3>
            
            <strong>Prezado aluno,<br>
            assista o video abaixo para saber como acessar sua prova on-line.<br>
            Após assistir clique no botão "EJA - Instituições autorizadas" abaixo do vídeo.</strong><br>
            <br>
            <br>
            <br>
            <em>Avaliação Remota de acordo com o Decreto 64.967/2020, do Governo do Estado de São Paulo, publicado em 09 de maio de 2020, que estende a medida de quarentena de que trata o decreto 64.881, de 22 de março de 2020 e Deliberação CEE 181/2020, publicada em 16/06/2020.</em>
            <div class="cb"></div>

            <div class="eja-encceja">
                <div class="box-video">
                    
                    <iframe src="https://player.vimeo.com/video/435323340" class="frame-video" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    
            <br>
            <br>
                    <a mat-raised-button style="background-color: #F68F2C;" href="http://moodle.institutonacional.com.br" target="_blank" color="warn">EJA - Instituições autorizadas</a>
                    &nbsp;
                    <a mat-raised-button style="background-color: #456786;" href="http://enccejanacional.inep.gov.br" target="_blank" color="primary">Encceja</a>
                        
                </div>
            </div>
        </div>
    </div>



    <div *ngIf="cursoEjaEnccejaEAD == 'EAD'"> <!-- tela para nacional tec-->

        <div class="sistema">
            
            <h3>Instruções prova on-line</h3>
            
            <strong>Prezado aluno,<br>
            assista o video abaixo para saber como acessar sua prova on-line.<br>
            Após assistir clique no botão "Instituições autorizadas" abaixo do vídeo.</strong><br>
            <br>
            <br>
            <br>
            <em>Avaliação Remota de acordo com o Decreto 64.967/2020, do Governo do Estado de São Paulo, publicado em 09 de maio de 2020, que estende a medida de quarentena de que trata o decreto 64.881, de 22 de março de 2020 e Deliberação CEE 181/2020, publicada em 16/06/2020.</em>
            <div class="cb"></div>

            <div class="eja-encceja">
                <div class="box-video">
                    
                    <iframe src="https://player.vimeo.com/video/435323340" class="frame-video" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    
                    <br>
                    <br>

                    <a mat-raised-button style="background-color: #F68F2C;" href="http://moodle.institutonacional.com.br" target="_blank" color="warn">Instituições autorizadas</a>
                    &nbsp;

                </div>
            </div>
        </div>
    </div>
</div>