<div *ngIf="!isAluno">
    <div class="flex form-registro" *ngIf="!isAluno && total">
        <div class="align-center">
            <mat-chip-list>
                <mat-chip color="primary" selected> Total: {{ total | currency }}</mat-chip>
                <mat-chip color="accent" selected> Total Desconto: {{ desconto | currency }}</mat-chip>
                <mat-chip color="warn" selected> Total Devido: {{ devido | currency }}</mat-chip>
            </mat-chip-list>
        </div>
        <div class="flex-fill"></div>
    </div>

    <div class="table">
        <table id="teste" mat-table [dataSource]="dataSource" multiTemplateDataRows>
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                <td mat-cell *matCellDef="let element">
                    {{ element?.descricao ? element.descricao : ' - ' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element">
                    {{
                        element.nossoNumero === 'TEF'
                        ? (element?.valorPago ? (element.valorPago | currency) : ' - ')
                        : (element?.valor ? (element.valor | currency) : ' - ')
                    }}
                </td>
            </ng-container>

            <ng-container matColumnDef="desconto">
                <th mat-header-cell *matHeaderCellDef> Descontos pontualidade</th>
                <td mat-cell *matCellDef="let element">
                    {{ element?.desconto ? (element.desconto + ' %') : ' - ' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="promocao">
                <th mat-header-cell *matHeaderCellDef> Promoção, Bolsa ou Convênio</th>
                <td mat-cell *matCellDef="let element">
                    {{ element?.promocaoBolsaConvenio ? (element.promocaoBolsaConvenio + ' %') : ' - ' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="tarifa">
                <th mat-header-cell *matHeaderCellDef> Tarifa Banco</th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element?.formaPagamento === 1">
                        <span matTooltip="Forma de pagamento" > <strong> Cartão de crédito </strong></span>
                    </ng-container>
                    <ng-container *ngIf="element?.formaPagamento === 2">
                        <span matTooltip="Forma de pagamento" > <strong> Cartão de débito </strong></span>
                    </ng-container>
                    <ng-container *ngIf="element?.formaPagamento === 3 || element?.tarifaBanco != null">
                        <span> {{ element?.tarifaBanco ? (element.tarifaBanco | currency) : ' - ' }} </span>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="valorVencimento">
                <th mat-header-cell *matHeaderCellDef> Valor até o Vencimento</th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex-column">
                        {{ element?.valorVencimento ? (element.valorVencimento | currency) : ' - ' }}
                        <ng-container *ngIf="element?.valorPago">
                            <div class="flex flex-fill"><mat-divider></mat-divider></div>
                            <span [ngClass]="colorPago(element)" matTooltip="Valor pago" > <strong>{{ element?.valorPago ? (element.valorPago | currency) : ' - ' }} </strong></span>
                        </ng-container>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data de Vencimento</th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex-column">
                        {{ element?.dataVencimento ? (element.dataVencimento | datePtBr) : ' - ' }}
                        <ng-container *ngIf="element?.dataPagamento">
                            <div class="flex flex-fill"><mat-divider></mat-divider></div>
                            <span [ngClass]="colorPago(element)" matTooltip="Data pagamento" > <strong> {{ element?.dataPagamento ? (element.dataPagamento | datePtBr) : ' - ' }} </strong></span>
                        </ng-container>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> Nosso número</th>
                <td mat-cell *matCellDef="let element">
                    {{ element?.nossoNumero ? element.nossoNumero : ' - ' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-mail Enviado</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [disabled]="!element?.existeEmail" color="primary" (click)="openDetalheEmail(element?.id)">
                        <mat-icon>email</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="situacao">
                <th mat-header-cell *matHeaderCellDef> Situação</th>
                <td mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="element?.tipoSituacao">
                        <button *ngSwitchCase="1" mat-button (click)="openDetalhePagamento(element)">
                            <mat-icon class="green">monetization_on</mat-icon>
                            <span class="green">&nbsp; Pago</span>
                        </button>

                        <button *ngSwitchCase="2" mat-button>
                            <mat-icon class="yellow">report</mat-icon>
                            <span class="yellow">&nbsp; Aberto</span>
                        </button>

                        <button *ngSwitchCase="3" mat-button>
                            <mat-icon class="green">monetization_on</mat-icon>
                            <span class="green">&nbsp; Isento</span>
                        </button>

                        <button *ngSwitchCase="4" mat-button>
                            <mat-icon class="red">cancel</mat-icon>
                            <span class="red">&nbsp; Inadimplente</span>
                        </button>

                        <button *ngSwitchCase="5" mat-button>
                            <mat-icon class="red">cancel</mat-icon>
                            <span class="red">&nbsp; Inadimplente bloqueado</span>
                        </button>

                        <button *ngSwitchCase="6" mat-button>
                            <mat-icon class="orange">report</mat-icon>
                            <span class="orange">&nbsp; Residual</span>
                        </button>

                        <p *ngSwitchDefault></p>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef class="mds-column">
                    <button type="button" mat-icon-button> <mat-icon></mat-icon></button>

                    <button mat-icon-button [matMenuTriggerFor]="menu"[matMenuTriggerData]="{ row: 0 }">
                        <mat-icon color="primary">more_vert</mat-icon>
                    </button>

                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()" color="primary">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element; index as index">
                    <button type="button" color="primary" mat-icon-button matTooltip="Histórico"
                    *ngIf="element?.pagamento?.length > 0; else: noBtn"
                    (click)="expandedElement = expandedElement === element ? null : element">
                        <mat-icon>add_circle</mat-icon>
                    </button>

                    <button mat-icon-button [matMenuTriggerFor]="menu"[matMenuTriggerData]="{ row: element }" (click)="$event.stopPropagation()" >
                        <mat-icon color="primary">more_vert</mat-icon>
                    </button>

                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selectRow(element) : null"
                        [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)"
                        color="primary">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail w-100" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <app-mpp-detalhe-tabela class="w-100" [planoPagamento]="element.pagamento"></app-mpp-detalhe-tabela>
                </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index" [class.example-expanded-row]="expandedElement === row" [ngClass]="corLinhaParcela(row)" (click)="selection.toggle(row)"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr>
        </table>
    </div>

    <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-row="row">
            <button [disabled]="validateOptions(row, 1)" (click)="enviarBoletoPorEmail(1, row)" mat-menu-item>
                <span>Enviar por e-mail</span>
            </button>
            <button [disabled]="validateOptions(row, 2)" (click)="enviarBoletoPorEmailOuRecalcular(2, row)" mat-menu-item>
                <span>Imprimir boleto / Enviar por e-mail</span>
            </button>
            <button [disabled]="validateOptions(row, 2)" (click)="enviarBoletoPorEmailOuRecalcular(2, row, true)" mat-menu-item>
                <span>Download boleto / Enviar por e-mail</span>
            </button>
            <button [disabled]="validateOptions(row, 3)" (click)="enviarBoletoPorEmailOuRecalcular(3, row, true)" mat-menu-item>
                <span>Recalcular / Enviar por e-mail</span>
            </button>
            <button [disabled]="validateOptions(row, 4)" (click)="pagarViaCartao(row, true)" row mat-menu-item>
                <span>{{ (row?.tipoSituacao === 5 || row?.tipoSituacao === 6) ? "Pagar via crédito" : "Pagar via crédito / Excluir boleto" }}</span>
            </button>
            <button *ngIf="!isAluno" [disabled]="validateOptions(row, 4)" (click)="pagarViaCartao(row, false)" row mat-menu-item>
                <span>{{ (row?.tipoSituacao === 5 || row?.tipoSituacao === 6) ? "Pagar via débido" : "Pagar via débido / Excluir boleto" }}</span>
            </button>
            <button [disabled]="validateOptions(row, 7)" (click)="gerarBoletoResidual(row, true)" mat-menu-item>
                <span>Gerar boleto residual</span>
            </button>
            <button [disabled]="validateOptions(row, 5)" (click)="reciboPagamentoMensalidade(row)" mat-menu-item>
                <span>Gerar recibo</span>
            </button>
            <button *ngIf="!isAluno" [disabled]="validateOptions(row, 6)" (click)="enviarBoletoPorEmailOuRecalcular(6, row)" mat-menu-item>
                <span>NF-e / Gerar Nota Fiscal</span>
            </button>
            <button [disabled]="!row?.comprovanteCartao" (click)="gerarComprovanteCartao(row)" mat-menu-item>
                <span>Comprovante cartão</span>
            </button>
            <button *ngIf="baixaManual" [disabled]="validateOptions(row, 4)" (click)="openBaixaPagamento(row, true)" row mat-menu-item>
              <span>Baixa Manual</span>
            </button>
        </ng-template>
    </mat-menu>

    <ng-template #noBtn>
        <button mat-icon-button><mat-icon></mat-icon></button>
    </ng-template>
</div>

<div *ngIf="isAluno">
    <div class="icone-touch"></div>
    <div class="flex form-registro" *ngIf="!isAluno && total">
        <div class="align-center">
            <mat-chip-list>
                <mat-chip color="primary" selected> Total: {{ total | currency }}</mat-chip>
                <mat-chip color="accent" selected> Total Desconto: {{ desconto | currency }}</mat-chip>
                <mat-chip color="warn" selected> Total Devido: {{ devido | currency }}</mat-chip>
            </mat-chip-list>
        </div>
        <div class="flex-fill"></div>
    </div>

    <div class="table">
        <table id="teste" mat-table [dataSource]="dataSource" multiTemplateDataRows>
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Descrição</th>
                <td mat-cell *matCellDef="let element">
                    {{ element?.descricao ? element.descricao : ' - ' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data de Vencimento</th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex-column">
                        {{ element?.dataVencimento ? (element.dataVencimento | datePtBr) : ' - ' }}
                        <!-- <ng-container *ngIf="element?.dataPagamento">
                            <div class="flex flex-fill"><mat-divider></mat-divider></div>
                            <span [ngClass]="colorPago(element)" matTooltip="Data pagamento" > <strong> {{ element?.dataPagamento ? (element.dataPagamento | datePtBr) : ' - ' }} </strong></span>
                        </ng-container> -->
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element">
                    {{
                        element.nossoNumero === 'TEF'
                        ? (element?.valorPago ? (element.valorPago | currency) : ' - ')
                        : (element?.valor ? (element.valor | currency) : ' - ')
                    }}
                </td>
            </ng-container>

            <ng-container matColumnDef="desconto">
                <th mat-header-cell *matHeaderCellDef> Descontos pontualidade</th>
                <td mat-cell *matCellDef="let element">
                    {{ element?.desconto ? (element.desconto + ' %') : ' - ' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="promocao">
                <th mat-header-cell *matHeaderCellDef> Promoção, Bolsa ou Convênio</th>
                <td mat-cell *matCellDef="let element">
                    {{ element?.promocaoBolsaConvenio ? (element.promocaoBolsaConvenio + ' %') : ' - ' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="tarifa">
                <th mat-header-cell *matHeaderCellDef> Tarifa Banco</th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element?.formaPagamento === 1">
                        <span matTooltip="Forma de pagamento" > <strong> Cartão de crédito </strong></span>
                    </ng-container>
                    <ng-container *ngIf="element?.formaPagamento === 2">
                        <span matTooltip="Forma de pagamento" > <strong> Cartão de débito </strong></span>
                    </ng-container>
                    <ng-container *ngIf="element?.formaPagamento === 3 || element?.tarifaBanco != null">
                        <span> {{ element?.tarifaBanco ? (element.tarifaBanco | currency) : ' - ' }} </span>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="valorVencimento">
                <th mat-header-cell *matHeaderCellDef> Valor até o Vencimento</th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex-column">
                        {{ element?.valorVencimento ? (element.valorVencimento | currency) : ' - ' }}
                        <ng-container *ngIf="element?.valorPago">
                            <div class="flex flex-fill"><mat-divider></mat-divider></div>
                            <span [ngClass]="colorPago(element)" matTooltip="Valor pago" > <strong>{{ element?.valorPago ? (element.valorPago | currency) : ' - ' }} </strong></span>
                        </ng-container>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="dataPagamento">
                <th mat-header-cell *matHeaderCellDef> Data de Pagamento</th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex-column">
                        {{ element?.dataPagamento ? (element.dataPagamento | datePtBr) : ' - ' }}
                        <!-- <ng-container *ngIf="element?.dataPagamento">
                            <div class="flex flex-fill"><mat-divider></mat-divider></div>
                            <span [ngClass]="colorPago(element)" matTooltip="Data pagamento" > <strong> {{ element?.dataPagamento ? (element.dataPagamento | datePtBr) : ' - ' }} </strong></span>
                        </ng-container> -->
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> Nosso número</th>
                <td mat-cell *matCellDef="let element">
                    {{ element?.nossoNumero ? element.nossoNumero : ' - ' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-mail Enviado</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [disabled]="!element?.existeEmail" color="primary" (click)="openDetalheEmail(element?.id)">
                        <mat-icon>email</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="situacao">
                <th mat-header-cell *matHeaderCellDef> Situação</th>
                <td mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="element?.tipoSituacao">
                        <button *ngSwitchCase="1" mat-button> <!-- (click)="openDetalhePagamento(element)" -->
                            <mat-icon class="green">monetization_on</mat-icon>
                            <span class="green">&nbsp; Pago</span>
                        </button>

                        <button *ngSwitchCase="2" mat-button>
                            <mat-icon class="yellow">report</mat-icon>
                            <span class="yellow">&nbsp; Aberto</span>
                        </button>

                        <button *ngSwitchCase="3" mat-button>
                            <mat-icon class="green">monetization_on</mat-icon>
                            <span class="green">&nbsp; Isento</span>
                        </button>

                        <button *ngSwitchCase="4" mat-button>
                            <mat-icon class="red">cancel</mat-icon>
                            <span class="red">&nbsp; Inadimplente</span>
                        </button>

                        <button *ngSwitchCase="5" mat-button>
                            <mat-icon class="red">cancel</mat-icon>
                            <span class="red">&nbsp; Inadimplente bloqueado</span>
                        </button>

                        <button *ngSwitchCase="6" mat-button>
                            <mat-icon class="orange">report</mat-icon>
                            <span class="orange">&nbsp; Residual</span>
                        </button>

                        <p *ngSwitchDefault></p>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef class="mds-column">
                    <button type="button" mat-icon-button> <mat-icon></mat-icon></button>

                    <button mat-icon-button [matMenuTriggerFor]="menu"[matMenuTriggerData]="{ row: 0 }">
                        <mat-icon color="primary">more_vert</mat-icon>
                    </button>

                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()" color="primary">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element; index as index">
                    <button type="button" color="primary" mat-icon-button matTooltip="Histórico"
                    *ngIf="element?.pagamento?.length > 0; else: noBtn"
                    (click)="expandedElement = expandedElement === element ? null : element">
                        <mat-icon>add_circle</mat-icon>
                    </button>

                    <button mat-icon-button [matMenuTriggerFor]="menu"[matMenuTriggerData]="{ row: element }" (click)="$event.stopPropagation()" >
                        <mat-icon color="primary">more_vert</mat-icon>
                    </button>

                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selectRow(element) : null"
                        [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)"
                        color="primary">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div class="example-element-detail w-100" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <app-mpp-detalhe-tabela class="w-100" [planoPagamento]="element.pagamento"></app-mpp-detalhe-tabela>
                  </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index" [class.example-expanded-row]="expandedElement === row" [ngClass]="corLinhaParcela(row)" (click)="selection.toggle(row)"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr>
        </table>
    </div>

    <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-row="row">
            <button [disabled]="validateOptions(row, 1)" (click)="enviarBoletoPorEmail(1, row)" mat-menu-item>
                <span>Enviar por e-mail</span>
            </button>
            <button [disabled]="validateOptions(row, 2)" (click)="enviarBoletoPorEmailOuRecalcular(2, row)" mat-menu-item>
                <span>Imprimir boleto / Enviar por e-mail</span>
            </button>
            <button [disabled]="validateOptions(row, 2)" (click)="enviarBoletoPorEmailOuRecalcular(2, row, true)" mat-menu-item>
                <span>Download boleto / Enviar por e-mail</span>
            </button>
            <button [disabled]="validateOptions(row, 3)" (click)="enviarBoletoPorEmailOuRecalcular(3, row, true)" mat-menu-item>
                <span>Recalcular / Enviar por e-mail</span>
            </button>
            <button [disabled]="validateOptions(row, 4)" (click)="pagarViaCartao(row, true)" row mat-menu-item>
                <span>{{ (row?.tipoSituacao === 5 || row?.tipoSituacao === 6) ? "Pagar via crédito" : "Pagar via crédito / Excluir boleto" }}</span>
            </button>
            <button *ngIf="!isAluno" [disabled]="validateOptions(row, 4)" (click)="pagarViaCartao(row, false)" row mat-menu-item>
                <span>{{ (row?.tipoSituacao === 5 || row?.tipoSituacao === 6) ? "Pagar via débido" : "Pagar via débido / Excluir boleto" }}</span>
            </button>
            <button [disabled]="validateOptions(row, 7)" (click)="gerarBoletoResidual(row, true)" mat-menu-item>
                <span>Gerar boleto residual</span>
            </button>
            <button [disabled]="validateOptions(row, 5)" (click)="reciboPagamentoMensalidade(row)" mat-menu-item>
                <span>Gerar recibo</span>
            </button>
            <button *ngIf="!isAluno" [disabled]="validateOptions(row, 6)" (click)="enviarBoletoPorEmailOuRecalcular(6, row)" mat-menu-item>
                <span>NF-e / Gerar Nota Fiscal</span>
            </button>
            <button [disabled]="!row?.comprovanteCartao" (click)="gerarComprovanteCartao(row)" mat-menu-item>
                <span>Comprovante cartão</span>
            </button>
            <button *ngIf="baixaManual" [disabled]="validateOptions(row, 4)" (click)="pagarViaCartao(row, false)" row mat-menu-item>
              <span>Baixa Manual - Cartão</span>
          </button>
          <button *ngIf="baixaManual" [disabled]="validateOptions(row, 4)" (click)="pagarViaCartao(row, false)" row mat-menu-item>
              <span>Baixa Manual - Boleto</span>
          </button>
        </ng-template>
    </mat-menu>

    <ng-template #noBtn>
        <button mat-icon-button><mat-icon></mat-icon></button>
    </ng-template>

</div>
