@import '../../../../../scss/theme.scss';
@import "../../../../../scss/functions.scss";

// .grade-icones {
//     background-color: #f1f1f1;
// }

.icone_grade {
    width: 30%;
    height: 75%;
    padding-bottom: 3%;
    
    @include mobile {
        width: 60%;
        height: 80%;
        padding-bottom: 6%;
    }

    @include ipad {
        width: 35%;
        height: 75%;
    }

    @include bigscreen {
        width: 25%;
        height: 70%;
    }
}

mat-grid-tile, mat-figure {
    min-height: 100px !important;
    margin-top: -5px;
}

.nome-unidade-curso {
    background-color: #ffffff;
    padding-bottom: 2.5%;
}

.aluno_curso {
    font-size: 2.5ex;
    text-align: center;
    display: block !important;
    padding-top: 5px;
    color: #767171;

    @include mobile {
        font-size: 13px;
    }
}

.aluno_unidade {
    font-size: 2ex;
    text-align: center;
    display: block !important;
    margin: 0px;
    color: #767171;
    
    @include mobile {
        font-size: 12px;
    }
}

.card-cabeça-portal {
    background-color: transparent;
    box-shadow: transparent;
    padding: 0% !important;
}

.botao-icone {
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    padding: 0;
}

.p-icone {
    margin: -3%;
    padding: 0 0 5px 0; //0 0 5px 0
    color: #534f4f;
    overflow: visible;

    @include mobile {
        font-size: 12.5px;
        line-height: 14px; //20px
    }
}
.grade-icones {
    background-color: #f1f1f1;
}
.qwert {
    max-height: 255px !important;
    min-height: 195px !important;
    height: 100%;
    padding: 0;

    @include mobile {
        max-height: 195px !important;
        min-height: 175px !important;
        align-items: flex-start;
        padding-top: 1px;
    }

    @include bigscreen {
        max-height: 325px !important;
        min-height: 255px !important;
    }
}

.mat-grid-tile .mat-figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    box-sizing: border-box;
}

.tab-icones-palavras {
    flex-direction: column;
}

.example-tab-icon {
    flex-direction: column;
}

.grid4 {
    left: 17% !important;
    z-index: 10;
}

.grid5 {
    z-index: 0;
}

.grid6 {
    right: 17% !important;
    left: 49% !important;
}

// .imagem-fundo {
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }