
<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="isAluno">
    <div class="nome-unidade-curso">
        <mat-card-title class="aluno_curso">
            {{ cursoLocalStorage }}
        </mat-card-title>
        <mat-card-subtitle class="aluno_unidade">
            {{ unidadeLocalStorage }}
        </mat-card-subtitle>
    </div>

    <div class="grade-icones">
        <!-- <img class="imagem-fundo" src="../../../assets/fundo.png" alt="imagem-fundo"> -->
        <mat-grid-list class="qwert" cols="4" rowHeight="49%">
            <mat-grid-tile>
                <button mat-button class="botao-icone" (click)="gotoMinhasAulas(matriculaId)">
                    <img class="icone_grade" src="../../../assets/minhas_aulas2.png" alt="logo_minhas_aulas">
                    <p class="p-icone">Minhas Aulas</p>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="botao-icone" (click)="goToFinaceiro(matriculaId)">
                    <img class="icone_grade" src="../../../assets/financeiro2.png" alt="logo_financeiro">
                    <p class="p-icone">Financeiro</p>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="botao-icone" (click)="goToSolicitacoes(matriculaId)">
                    <img class="icone_grade" src="../../../assets/solicitacoes2.png" alt="logo_solicitacoes">
                    <p class="p-icone">Solicitações</p>
                </button>
            </mat-grid-tile>
            <mat-grid-tile> <!-- class="grid4" classe usada para quando era 5 icones -->
                <button mat-button class="botao-icone" (click)="goToDocumentos(matriculaId)">
                    <img class="icone_grade" src="../../../assets/documentos2.png" alt="logo_documentos">
                    <p class="p-icone">Documentos</p>
                </button>
            </mat-grid-tile>
            <mat-grid-tile> <!-- class="grid5" classe usada para quando era 5 icones -->
                <button mat-button class="botao-icone" (click)="gotoConteudoDigital(matriculaId)">
                    <img class="icone_grade" src="../../../assets/simulados2.png" alt="logo_conteudo_digital">
                    <p class="p-icone">Conteúdo</p>
                </button>
            </mat-grid-tile>
            <mat-grid-tile > <!-- class="grid6" classe usada para quando era 5 icones -->
                <button mat-button class="botao-icone" (click)="goToEja(matriculaId)">
                    <img class="icone_grade" src="../../../assets/eja_encceja2.png" alt="logo_eja_encceja">
                    <p class="p-icone">{{ cursoEjaEnccejaEAD }}</p>
                </button>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="cursoEjaEnccejaEAD != 'EAD'">
                <a href="https://www.youtube.com/c/SupletivoPreparat%C3%B3rio" target="_blank">
                    <button mat-button class="botao-icone">
                        <img class="icone_grade" src="../../../assets/youtube2.png" alt="logo_youtube">
                        <p class="p-icone">YouTube</p>
                    </button>
                </a>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="cursoEjaEnccejaEAD != 'EAD'">
                <a href="https://t.me/supletivopreparatorioejaencceja" target="_blank">
                    <button mat-button class="botao-icone">
                        <img class="icone_grade" src="../../../assets/telegram2.png" alt="logo_telegram">
                        <p class="p-icone">Telegram</p>
                    </button>
                </a>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="cursoEjaEnccejaEAD == 'EAD'">
                <a href="https://www.youtube.com/channel/UCfgpZT7ibTWvyGNTnWTheBw" target="_blank">
                    <button mat-button class="botao-icone">
                        <img class="icone_grade" src="../../../assets/youtube2.png" alt="logo_youtube">
                        <p class="p-icone">YouTube</p>
                    </button>
                </a>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="cursoEjaEnccejaEAD == 'EAD'">
                <a href="https://t.me/cursosnacionaltec" target="_blank">
                    <button mat-button class="botao-icone">
                        <img class="icone_grade" src="../../../assets/telegram2.png" alt="logo_telegram">
                        <p class="p-icone">Telegram</p>
                    </button>
                </a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
