@import "../../../../scss/functions.scss";
@import "../../../../scss/theme.scss";

.main-body {
    width: 100%;
    height: 100%;
}

.div-header {
    display: block;
}

.barra-topo {
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 100;
    justify-content: space-between;
    height: max-content;

    @include mobile {
        flex-direction: column;
    }
}

.div-img-logo {
    display: flex;
    align-items: center;
    padding: 5px;

    @include mobile {
        padding: 2%;
        justify-content: center;
    }
}

.img-logo {
    width: 25%;
    margin: 0;
    padding: 0;

    @include mobile {
        width: 70%;
    }
}

.div-icones {
    display: flex;
    flex-direction: row;
}

.icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 5px 0 5px;
    cursor: pointer;
}

.img-icones {
    width: 35px;
    height: 35px;
    padding: 0 10px 0 20px;
}

.p-icones {
    white-space: nowrap;
    text-align: center;
    font-family: 'Roboto','Helvetica Neue',sans-serif;
    font-size: 11pt;
    color: #ff0000;
}

.div-body {
    display: flex;
    flex-direction: column;
}

.div-img-body {
    background: #ffffff url("../../../../assets/afiliado/fundo-inscreva-se.PNG");
}

.img-body {
    width: 100%;
}

.div-cadastre-se {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #383838;
    padding-bottom: 3%;
    margin-top: -4px;
}

.p-cadastre-se {
    white-space: nowrap;
    text-align: center;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 20px;

    @include mobile {
        white-space: normal;
        font-size: 18px;
    }
}

.div-rodape {
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 100;
    justify-content: flex-end;
    padding-right: 20px;

    @include mobile {
        flex-direction: column;
        height: max-content;
        justify-content: center;
        align-items: center;
    }
}

// form

form {
    width: 90%;
}

.div-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include mobile {
        flex-direction: column;
    }
}

.div-form-field {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 1% 0 0%;
    width: -webkit-fill-available;

    @include mobile {
        margin: 3%;
    }
}

mat-form-field {
    width: -webkit-fill-available;
}

::ng-deep .mat-form-field-wrapper {
    padding: 1% 0 0 0;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #ffffff;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline, .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline {
    color: #ffffff;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ffffff;
}

.b-enviar {
    min-width: max-content;

    @include mobile {
        margin: 3% 4% 3% 4%;
    }
}

.p-enviar {
    font-size: 20px;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: 0 10px 0 10px;
}

.div-inscreva-se {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff url("../../../../assets/afiliado/fundo-inscreva-se.PNG");
    margin-top: -7px;
    padding-bottom: 10%;
}

.b-inscreva-se {
    scroll-behavior: smooth;
}

.p-inscreva-se {
    font-size: 20px;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: 10px;
}

picture {
    background: #ffffff url("../../../../assets/afiliado/fundo-inscreva-se.PNG");
}

.nacional-azul {
    background-color: #0071e3;
}

.nacional-amarelo {
    background-color: #ffcc00;
}

.nacional-logo {
    width: 75%;
}

.nacional-branco {
    color: #ffffff;
}

.div-inscreva-se-nacional {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff url("../../../../assets/afiliado/fundo-inscreva-se-nacional.PNG");
    margin-top: -5px;
    padding-bottom: 10%;
}

.fundo-nacional {
    background: #ffffff url("../../../../assets/afiliado/fundo-inscreva-se.PNG");
}