<div class="body">
    <div class="flex">
        <header>{{ (id === 0) ? 'Adicionar' : 'Alterar' }} Colégio</header>
        <div class="flex-fill"></div>
        <div>
            <button mat-button color="primary" (click)="voltar()">Voltar</button>
        </div>
    </div>

    <mat-card class="mat-elevation-z8" *ngIf="!error;else errorTemplate">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <div class="loading-shade" *ngIf="isLoadingResults">
                <mat-spinner></mat-spinner>
            </div>
            <div class="content" *ngIf="!isLoadingResults">
                <form [formGroup]="form">
                    <div class="grid grid--auto-fill mt-1">
                        <mat-form-field>
                            <mat-label>Nome do Colégio</mat-label>
                            <input formControlName="nomeColegioAutorizado" matInput appTitlecase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Razão Social</mat-label>
                            <input formControlName="razaoSocial" matInput appTitlecase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>CNPJ</mat-label>
                            <input formControlName="cnpj" [mask]="cnpjMask" matInput>
                            <mat-error *ngIf="form.get('cnpj').hasError('cnpjInvalido')">CNPJ inválido</mat-error>
                            <mat-error *ngIf="form.get('cnpj').hasError('required')">Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Site</mat-label>
                            <input formControlName="site" matInput appLowwercase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                    </div>

                    <title-line title="Primeiro Contato"></title-line>
                    <div class="grid grid--auto-fill">
                        <mat-form-field>
                            <mat-label>Nome</mat-label>
                            <input formControlName="primeiroContatoNome" matInput appTitlecase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Telefone</mat-label>
                            <input formControlName="primeiroContatoTelefone" [mask]="maskPrimeiroContato" matInput>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>E-mail</mat-label>
                            <input formControlName="primeiroContatoEmail" matInput appLowwercase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                    </div>

                    <title-line title="Segundo Contato"></title-line>
                    <div class="grid grid--auto-fill">
                        <mat-form-field>
                            <mat-label>Nome</mat-label>
                            <input formControlName="segundoContatoNome" matInput appTitlecase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Telefone</mat-label>
                            <input formControlName="segundoContatoTelefone" [mask]="maskSegundoContato" matInput>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>E-mail</mat-label>
                            <input formControlName="segundoContatoEmail" matInput appLowwercase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                    </div>

                    <title-line title="Endereço"></title-line>
                    <div formGroupName="endereco" class="grid grid--auto-fill">
                        <mat-form-field>
                            <mat-label>CEP</mat-label>
                            <input formControlName="cep" matInput>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Rua</mat-label>
                            <input formControlName="rua" matInput appTitlecase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Número</mat-label>
                            <input formControlName="numero" matInput>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Complemento</mat-label>
                            <input formControlName="complemento" matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Bairro</mat-label>
                            <input formControlName="bairro" matInput appTitlecase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Cidade</mat-label>
                            <input formControlName="cidade" matInput appTitlecase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="estado">
                                <mat-option *ngFor="let estado of estados" [value]="estado">
                                    {{ estado }}
                                </mat-option>
                            </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div *ngIf="!isLoadingResults" class="flex">
                <div>
                    <button mat-button color="primary" (click)="voltar()">Voltar</button>
                </div>
                <div class="flex-fill"></div>
                <div>
                    <button mat-raised-button color="primary" (click)="salvarData()" cdkFocusInitial>Salvar</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>

<ng-template #loading>
    <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>

