<div class="body">
    <mat-card class="mat-elevation-z8">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <div class="content">
                <div class="flex align-center">
                    <button (click)="download()" mat-button type="button" color="primary">
                        Download do arquivo  &nbsp;
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>