<div mat-dialog-title class="flex flex-row">
    Filtrar alunos
    <div class="flex-fill"></div>
    <div class="btn-options">
        <button color="primary" (click)="dialogRef.close()" mat-icon-button matTooltip="Fechar">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-content>
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!error;else errorTemplate">
        <form [formGroup]="form">
            <div class="grid grid--auto-fill">

                <mat-form-field *ngIf="unidadesDefault; else loading" >
                    <mat-label>Unidade</mat-label>
                    <input matInput [matAutocomplete]="auto" formControlName="unidadeSelect" >
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete" >
                        <mat-option *ngFor="let unidade of filterUnidades | async" [value]="unidade.nome">
                          <span>{{unidade.nome}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Nome do aluno</mat-label>
                    <input matInput formControlName="nome" appTitlecase>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>CPF</mat-label>
                    <input matInput formControlName="cpf" [mask]="cpfMask">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Data de nascimento</mat-label>
                    <input matInput formControlName="dataNascimento" [matDatepicker]="dataNascimento">
                    <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
                    <mat-datepicker #dataNascimento startView="multi-year"></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Celular</mat-label>
                    <input matInput formControlName="celular" formControlName="celular" [mask]="maskCelular">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email" appLowwercase>
                </mat-form-field>             

                <mat-form-field>
                    <mat-label>Nº Matrícula</mat-label>
                    <input matInput formControlName="numeroMatricula">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Como nos conheceu</mat-label>
                    <mat-select formControlName="comoConheceuEnum">
                        <mat-option [value]="1">Indicação</mat-option>
                        <mat-option [value]="2">Google</mat-option>
                        <mat-option [value]="3">Facebook</mat-option>
                        <mat-option [value]="4">Instagram</mat-option>
                        <mat-option [value]="5">Passou em frente</mat-option>
                        <mat-option [value]="6">Whatsapp</mat-option>
                        <mat-option [value]="7">Faixas na rua</mat-option>
                        <mat-option [value]="8">Panfleto</mat-option>
                        <mat-option [value]="9">Ônibus</mat-option>
                        <mat-option [value]="10">Cartaz em comércio</mat-option>
                        <mat-option [value]="11">Jornal</mat-option>
                        <mat-option [value]="12">Televisão</mat-option>
                        <mat-option [value]="13">Rádio</mat-option>
                        <mat-option [value]="14">Chat on-line</mat-option>
                        <mat-option [value]="15">Lista telefônica</mat-option>
                        <mat-option [value]="16">Tele-responde</mat-option>
                        <mat-option [value]="17">Pesquisa</mat-option>
                        <mat-option [value]="18">Outdoor</mat-option>
                        <mat-option [value]="19">Muro</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="grid grid--auto-fill">
                <mat-form-field>
                    <mat-label>Data de Início Matrícula</mat-label>
                    <input matInput formControlName="dataInicioMatricula" [matDatepicker]="dataInicioMatricula">
                    <mat-datepicker-toggle matSuffix [for]="dataInicioMatricula"></mat-datepicker-toggle>
                    <mat-datepicker #dataInicioMatricula></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Data de Fim Matrícula</mat-label>
                    <input matInput  formControlName="dataFimMatricula"  [matDatepicker]="dataFimMatricula">
                    <mat-datepicker-toggle matSuffix [for]="dataFimMatricula"></mat-datepicker-toggle>
                    <mat-datepicker #dataFimMatricula></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="grid grid--auto-fill">
                <mat-form-field *ngIf="cursos; else loading">
                    <mat-label>Curso</mat-label>
                    <mat-select formControlName="cursoId">
                        <mat-option *ngFor="let curso of cursos" [value]="curso.id">
                            {{ curso.descricao }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Modalidade</mat-label>
                    <mat-select formControlName="presencial">
                        <mat-option [value]="null"> - </mat-option>
                        <mat-option [value]="true"> Presencial </mat-option>
                        <mat-option [value]="false"> Distância </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Ano</mat-label>
                    <mat-select formControlName="ano">
                        <mat-option [value]="null"> - </mat-option>
                        <mat-option *ngFor="let ano of anos" [value]="ano">
                            {{ ano }}
                        </mat-option>
                    </mat-select>
                    <mat-error>Informação necessária</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Semestre</mat-label>
                    <mat-select formControlName="semestre">
                        <mat-option [value]="null"> - </mat-option>
                        <mat-option [value]="1"> 1º Semestre </mat-option>
                        <mat-option [value]="2"> 2º Semestre </mat-option>
                        <mat-option [value]="3"> Anual       </mat-option>
                        <mat-option [value]="4"> Bimestral   </mat-option>
                        <mat-option [value]="5"> Trimestral  </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="grid">
                <div class="checkbox">
                    <div class="flex flex-row">
                        <p>Dia da semana</p>
                    </div>
                    <div class="flex form-registro">
                        <mat-checkbox formControlName="segunda"  color="primary">Segunda    </mat-checkbox>
                        <mat-checkbox formControlName="terca"    color="primary">Terça      </mat-checkbox>
                        <mat-checkbox formControlName="quarta"   color="primary">Quarta     </mat-checkbox>
                        <mat-checkbox formControlName="quinta"   color="primary">Quinta     </mat-checkbox>
                        <mat-checkbox formControlName="sexta"    color="primary">Sexta      </mat-checkbox>
                        <mat-checkbox formControlName="sabado"   color="primary">Sábado     </mat-checkbox>
                        <mat-checkbox formControlName="domingo"  color="primary">Domingo    </mat-checkbox>
                    </div>
                </div>
            </div>

            <div class="grid grid--auto-fill">
                <mat-form-field>
                    <mat-label>Período</mat-label>
                    <mat-select formControlName="periodo">
                        <mat-option [value]="null"> - </mat-option>
                        <mat-option [value]="1"> Manhã  </mat-option>
                        <mat-option [value]="2"> Tarde  </mat-option>
                        <mat-option [value]="3"> Noite  </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Horário Início</mat-label>
                    <input formControlName="horaInicio" [mask]="hourMinute" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Horário Fim</mat-label>
                    <input formControlName="horaTermino" [mask]="hourMinute" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Sala</mat-label>
                    <mat-select formControlName="sala">
                        <mat-option [value]="null"> - </mat-option>
                        <mat-option *ngFor="let sala of salas" [value]="sala">
                            Sala {{ sala }}
                        </mat-option>
                    </mat-select>
                    <mat-error>Informação necessária</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Status Matrícula</mat-label>
                    <mat-select formControlName="statusMatricula">
                        <mat-option [value]="null"> - </mat-option>
                        <mat-option [value]="true"> Ativado </mat-option>
                        <mat-option [value]="false"> Cancelado </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Status Documento</mat-label>
                    <mat-select formControlName="statusDocumento">
                        <mat-option [value]="null"> - </mat-option>
                        <mat-option [value]="true"> Pendente </mat-option>
                        <mat-option [value]="false"> Não Pendente </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Status Certificado</mat-label>
                    <mat-select >
                        <mat-option [value]="null"> - </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Local da Prova</mat-label>
                    <mat-select f>
                        <mat-option [value]="null"> - </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="grid grid--auto-fill">
                <mat-form-field>
                    <mat-label>Data de Início da  Prova</mat-label>
                    <input matInput formControlName="unidadeSelect" [matDatepicker]="dataInicioProva">
                    <mat-datepicker-toggle matSuffix [for]="dataInicioProva"></mat-datepicker-toggle>
                    <mat-datepicker #dataInicioProva></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Data de Fim da Prova</mat-label>
                    <input matInput formControlName="unidadeSelect" [matDatepicker]="dataFimProva">
                    <mat-datepicker-toggle matSuffix [for]="dataFimProva"></mat-datepicker-toggle>
                    <mat-datepicker #dataFimProva></mat-datepicker>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>

<div *ngIf="!error" mat-dialog-actions>
    <button mat-button (click)="pesquisar()" color="primary">Filtrar</button>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>

<ng-template #loading>
    <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>
