@import "../../../../../../scss/functions.scss";
@import "../../../../../../scss/variable.scss";

.mat-header-cell {
    min-width: 150px;
}

.sm-column {
    max-width: 100px !important;
}

mat-divider {
    align-self: center;
    margin: 0 2rem;
}

.grid {
    padding: 0 2rem;
}

table {
    width: 100%;
}

.table {
    overflow-x: auto;
}

.sm-column {
    max-width: 15% !important;
}

.btn-options {
    display: flex;
    justify-content: flex-end;
}

.selected {
    background-color: #dddddd;
}

@include mobile {
    .mat-card {
        padding-left: 5 !important;
        padding-right: 5 !important;
    }

    .grid--auto-fill {
        grid-template-columns: none;
    }

    .grid--auto-fill-lg {
        grid-template-columns: none;
    }

    .grid {
        padding: 0;
    }
}