@import '../../../../../../scss/theme.scss';
@import "../../../../../../scss/functions.scss";

.body {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-titulo {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.div-botoes {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.b-enviar {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .grid, .grid--auto-fill {
//     padding: 0;
//     padding-left: 10%;
//     padding-right: 10%;
// }

// .grid--auto-fill, .grid--auto-fit-lg {
//     grid-template-columns: none;
// }

// mat-dialog-container {
//     background-color: #f9f9f9;
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//     background-color: white;
// }

// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
//     color: black;
// }