@import '../../../../../scss/theme.scss';
@import "../../../../../scss/functions.scss";
@import "../../../../../scss/variable.scss";

mat-panel-title {
    color: mat-color($theme-primary) !important;
}

.mat-dialog-content {
    max-height: none !important;
}

form {
    padding-bottom: 0;
}

.form-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1.5rem;
}

mat-form-field {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-width: 150px;
}

.sm-column {
    max-width: 5% !important;
    min-width: 5% !important;
    width: 5% !important;
}

.btn-options {
    display: flex;
    justify-content: flex-end;
}

mat-divider {
    align-self: center;
    margin: 0 2rem;
}

table {
    width: 100%;
}

.table {
    width: 100%;
    overflow-x: auto;
}

.btn-add {
    max-width: 300px;
}

.grid {
    padding: 0;
}

.container-time-line {
    padding: 0rem 1.5rem;
}

.time-line-hour {
    display: flex;
    align-content: center;
    align-items: center;
}

.time-line {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2.5rem !important;

    mat-icon {
        font-size: 2.5rem !important;
        width: 2.5rem !important;
        height: 2.5rem !important;
    }

    .line {
        width: 0.2rem;
        background-color: mat-color($theme-accent) !important;
        border-radius: 1rem;
    }
}

::ng-deep.mat-dialog-container {
    max-height: 90vh !important;
    overflow-y: auto;
}

@include mobile {
    form, .mat-form-field {
        padding-left: 0;
        padding-right: 0;
    }

    .form-registro {
        flex-direction: column;
        align-self: flex-start;
    }

    .mat-card {
        padding-left: 5 !important;
        padding-right: 5 !important;
    }

    .grid--auto-fill {
        grid-template-columns: none;
    }

    .grid--auto-fill-lg {
        grid-template-columns: none;
    }

    .mat-form-field {
        min-width: 0 !important;
    }

    .container-time-line  {
        padding: 0.5rem 0;
    }

    .time-line {
        padding: 0 0.2rem;
    }
}