<div mat-dialog-title class="flex flex-row">
    Histórico de Estoque
    <div class="flex-fill"></div>
    <div class="btn-options">
        <button color="primary" (click)="dialogRef.close()" mat-icon-button matTooltip="Fechar">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-content>
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!error;else errorTemplate">
        <ng-container *ngFor="let item of historico">
            <ng-container [ngSwitch]="mudarStatus(item)">
                <mat-chip-list *ngSwitchCase="1">
                    <mat-chip ngClass="bg-green">
                        Entrada de Material: {{ item?.dataCadastro ? (item?.dataCadastro | datePtBr) : ' - ' }} 
                    </mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngSwitchCase="2">
                    <mat-chip ngClass="bg-red">
                        Saída de Material: {{ item?.dataCadastro ? (item?.dataCadastro | datePtBr) : ' - ' }} 
                    </mat-chip>
                </mat-chip-list>
                <ng-container *ngSwitchDefault></ng-container>
            </ng-container>

            <div class="flex flex-column container-time-line">
                <div class="flex">
                    <div class="time-line">
                        <!-- <mat-icon *ngIf="item?.tipoHistorico === 1" class="yellow">report</mat-icon> -->
                        <div class="flex-fill line"></div>
                    </div>
                    <div class="flex-column flex-fill">
                        <div class="flex-row">
                            <p class="flex-fill">{{ item?.descricao ? item.descricao : ' - ' }}</p>
                            <span class="time-line-hour"><mat-icon>alarm</mat-icon>&nbsp; {{ item?.dataCadastro ? (item?.dataCadastro | date: 'HH:mm') : ' - '}}</span>
                        </div>
                        <mat-divider class="w-100"></mat-divider>
                    </div>
                </div>
            </div>
        </ng-container>

        <div *ngIf="historico?.length > 0" class="flex flex-column container-time-line">
            <div class="flex">
                <div class="time-line">
                    <mat-icon color="accent">alarm</mat-icon>
                </div>
                <div class="flex-column flex-fill"></div>
            </div>
        </div>
    </div>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>