@import '../../../../scss/theme.scss';
@import "../../../../scss/functions.scss";

.content {
    padding: 0 1rem;
}

.mat-card {
    // min-height: 300px;
    @include mobile {
        padding: 1rem 0.5rem !important;
    }
}

.grid {
    padding: 0;
}

form {
    padding-bottom: 0;
}

.form-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 1.5rem;
}

mat-form-field {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.sm {
    width: 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;
}

.md-column {
    width: 250px !important;
    min-width: 250px !important;
    max-width: 250px !important;
}

table {
    width: 100%;
}

.table {
    width: 100%;
    overflow-x: auto;
}

.filter-info {
    display: flex;
    align-items: center;

    mat-label {
        margin-right: 0.5rem;
    }

    @include mobile {
        padding: 0.5rem 0;
    }
}

.selected {
    background-color: #dddddd;
}

@include mobile {
    form {
        flex-direction: column !important;
    }
    
    form, .mat-form-field, .checkbox {
        padding-left: 0;
        padding-right: 0;
    }

    .form-registro {
        flex-direction: column;
        align-self: flex-start;
    }

    .mat-card {
        padding-left: 5 !important;
        padding-right: 5 !important;
    }

    .grid--auto-fill {
        grid-template-columns: none;
    }

    .mat-form-field {
        min-width: 0 !important;
    }
    
    .grid {
        padding: 0;
    }
}
