<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathArquivoRetornoItau" value="C:\temp\ITAU-UNIBANCO\O0055ITAU-UNIBANCO\ENTRADA"/>
    <add key="TimePauseWhatsApp" value="15000"/>
    <add key="CarteiraAtiva" value="109"/>
    <!--<add key="EscolaProApiBaseAddress" value="http://localhost:8081/"/>-->
    <!--<add key="EscolaProApiBaseAddress" value="https://homolog-api.portaldoalunocurso.com.br/"/>-->
    <add key="EscolaProApiBaseAddress" value="https://api.portaldoalunocurso.com.br/"/>
    <add key="PathLogFile" value="C:\Logs\"/>
  </appSettings>
</configuration>