@import "../../../../../scss/functions.scss";

::ng-deep.mat-radio-label-content {
    width: 100% !important;
    white-space: normal !important;
}

.mat-radio-button {
    border-radius: 0.5rem !important;
}

.bg-light-green {
    background-color: #BBD0A6 !important;
}

.bg-light-red {
    background-color: #F1C1C1 !important;
}

.app-questao-online {
    padding-top: 5rem;
}

.questao {
    flex-basis: 0;
    color: #B20000;
    justify-content: flex-end;
}

:host ::ng-deep.mat-expansion-indicator:after {
    color: #B20000 !important;
    font-size: 15pt !important;
}

::ng-deep.cinza {
    background-color: #eeeeee !important;
}

::ng-deep.header {
    font-size: 15pt !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.asdfg {
    background-color: #eeeeee;
}

.realizar-exercicios {
    color: #B20000;
    font-family: 'Roboto Condensed',Tahoma,Arial,Helvetica,sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 5%;

    @include mobile {
        font-size: 20px;
    }
}