<div class="body">
    <header>Upload do Ponto</header>

    <mat-card class="mat-elevation-z8">
        <mat-card-title>
            <button mat-icon-button color="primary" (click)="getAll()" matTooltip="Atualizar">
                <mat-icon>autorenew</mat-icon>
            </button>
            <div class="flex-fill"></div>
            <button mat-button type="button" (click)="fileUp.click()" color="primary">
                Arquivo do ponto  &nbsp;
                <mat-icon>cloud_upload</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content>
            <div *ngIf="!error;else errorTemplate">
                <div class="loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner></mat-spinner>
                </div>

                <div class="table">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="nomeArquivo">
                            <th mat-header-cell *matHeaderCellDef> Nome do Arquivo </th>
                            <td mat-cell *matCellDef="let element"> {{ element?.nomeArquivo ? element.nomeArquivo : '-' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="dataCadastro">
                            <th mat-header-cell *matHeaderCellDef> Data do Cadastro </th>
                            <td mat-cell *matCellDef="let element"> {{ element?.dataCadastro ? (element.dataCadastro | datePtBr) : '-' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef class="sm-column"> </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="btn-options">
                                    <button (click)="excluir(element.id)" color="warn" mat-icon-button matTooltip="Excluir" >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selection.toggle(row)" [ngClass]="{ 'selected': selection.isSelected(row) }"></tr>
                    </table>
                </div>
            </div>

            <div class="w-100" [hidden]="error">
                <mat-paginator [pageSizeOptions]="[50, 150, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<input #fileUp class="file-upload" type="file" (change)="loadFile($event)">

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>
