@import "../../../../../scss/functions.scss";

.selected {
    background-color: #dddddd;
}

.grade-icones {
    background-color: #f1f1f1;
}

.icone_grade {
    width: 25%;
    height: 75%;
    padding-bottom: 2%;

    @include mobile {
        width: 50%;
        height: 85%;
    }

    @include ipad {
        width: 25%;
        height: 75%;
    }

    @include bigscreen {
        width: 20%;
        height: 70%;
    }
}

.nome-unidade-curso {
    background-color: #ffffff;
    padding-bottom: 1.5%;
}

.aluno_curso {
    font-size: 2.5ex;
    text-align: center;
    display: block !important;
    padding-top: 5px;
    color: #767171;

    @include mobile {
        font-size: 13px;
    }
}

.aluno_unidade {
    font-size: 2ex;
    text-align: center;
    display: block !important;
    margin: 0px;
    color: #767171;
    
    @include mobile {
        font-size: 12px;
    }
}

.card-cabeça-portal {
    background-color: transparent;
    box-shadow: transparent;
    padding: 0% !important;
}

.botao-icone {
    flex-direction: column;
}

.p-icone {
    margin: -5%;
    padding: 0;
    color: #534f4f;

    @include mobile {
        font-size: 12.5px;
    }
}

.qwert {
    max-height: 255px !important;
    min-height: 195px !important;
    height: 100%;
    padding: 0;

    @include mobile {
        max-height: 165px !important;
        min-height: 155px !important;
    }

    @include bigscreen {
        max-height: 325px !important;
        min-height: 255px !important;
    }
}

.mat-grid-tile .mat-figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    box-sizing: border-box;
}

.tab-icones-palavras {
    flex-direction: column;
}

.example-tab-icon {
    flex-direction: column;
}

.grid4 {
    left: 17% !important;
}

.grid6 {
    right: 17% !important;
    left: 49% !important;
}

.div-minhas-aulas {
    background-color: #bb0000;
    margin: 0 auto 0;
    margin-top: 15px;
    width: 90%;
    z-index: 1;
}

.titulo-minhas-aulas {
    color: #f1f1f1;
    text-align: center;
}