@import "../../../../scss/functions.scss";

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mat-card {
    @include mobile {
        padding: 1rem 0.5rem !important;
    }
}

.mat-header-cell {
    min-width: 150px;
}

.mat-radio-button {
    margin-left: 1rem;
}

table {
    width: 100%;
}

.table {
    overflow-x: auto;
}

.result {
    margin-top: 3rem;
}

tr.mat-footer-row {
    font-weight: bold;
}

.sm-column {
    max-width: 15% !important;
}

img {
    max-width: 15rem;
    max-height: 15rem;
}

.selected {
    background-color: #dddddd;
}
