<div class="body">
    <div class="flex">
        <header>{{ (id === 0) ? 'Adicionar' : 'Alterar' }} Comissão</header>
        <div class="flex-fill"></div>
        <div>
            <button mat-button color="primary" (click)="voltar()">Voltar</button>
        </div>
    </div>

    <mat-card class="mat-elevation-z8" *ngIf="!error;else errorTemplate">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <div class="loading-shade" *ngIf="isLoadingResults">
                <mat-spinner></mat-spinner>
            </div>
            <div class="content" *ngIf="!isLoadingResults">
                <form [formGroup]="form">
                    <div class="grid grid--auto-fill mt-1">
                        <mat-form-field *ngIf="unidades; else loading">
                            <mat-label>Unidade</mat-label>
                            <mat-select formControlName="unidadeId">
                                <mat-option *ngFor="let unidade of unidades" [value]="unidade.id">
                                  {{unidade.nome}}
                                </mat-option>
                              </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Tipo de pagamento</mat-label>
                            <mat-select formControlName="tipoPagamento">
                                <mat-option [value]="1"> Cartão de crédito </mat-option>
                                <mat-option [value]="2"> Cartão de débito </mat-option>
                                <mat-option [value]="3"> Boleto bancário </mat-option>
                              </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Tipo da comissão</mat-label>
                            <mat-select formControlName="tipoComissao">
                                <mat-option [value]="false"> Equipe</mat-option>
                              </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>  
    
                        <mat-form-field>
                            <mat-label>Início da comissão</mat-label>
                            <input matInput formControlName="dataInicioVirgencia" [matDatepicker]="dataInicio">
                            <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
                            <mat-datepicker #dataInicio></mat-datepicker>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label>Fim da comissão</mat-label>
                            <input matInput formControlName="dataFimVirgencia" [matDatepicker]="dataFim">
                            <mat-datepicker-toggle matSuffix [for]="dataFim"></mat-datepicker-toggle>
                            <mat-datepicker #dataFim></mat-datepicker>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <div class="flex align-center">
                            <mat-slide-toggle formControlName="periodoIndeterminado" color="primary">Período Indeterminado</mat-slide-toggle>
                        </div>
                    </div>

                    <title-line title=""></title-line>
                    <div formArrayName="parcelasForm" class="grid grid--auto-fit-lg mt-1">
                        <ng-container *ngFor="let parcela of parcelasForm.controls; let i=index">
                            <div [formGroupName]="i" class="flex form-registro w-100">
                                <mat-label class="align-center"><strong>{{ i + 1 }}° Parcela Paga</strong></mat-label>
                                <mat-form-field>
                                    <mat-label>Valor da Comissão</mat-label>
                                    <span matPrefix><strong>R$</strong> &nbsp;</span>
                                    <input formControlName="valor" currencyMask matInput>
                                </mat-form-field>
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div *ngIf="!isLoadingResults" class="flex">
                <div>
                    <button mat-button color="primary" (click)="voltar()">Voltar</button>
                </div>
                <div class="flex-fill"></div>
                <div>
                    <button mat-raised-button color="primary" type="submit" (click)="salvarData()" cdkFocusInitial>Salvar</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>

<ng-template #loading>
    <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>