<div mat-dialog-title class="flex flex-row">
    Adicionar Curso Online
    <div class="flex-fill"></div>
    <div class="btn-options">
        <button color="primary" (click)="dialogRef.close()" mat-icon-button matTooltip="Fechar">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-content>
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!error;else errorTemplate">
        <form [formGroup]="form">
            <div class="grid grid--auto-fill-lg">
                <mat-form-field>
                    <mat-label>Nome da Aula</mat-label>
                    <input formControlName="nomeAulaOnline" matInput appTitlecase>
                </mat-form-field>

                <ng-container *ngIf="cursosDefault; else loading">
                    <mat-form-field>
                        <mat-label>Cursos</mat-label>
                        <input formControlName="cursoSelect" matInput [matAutocomplete]="auto">
                        <mat-icon matSuffix>arrow_drop_down</mat-icon>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let curso of filterCursos | async" [value]="curso.descricao">
                                <span>{{curso.descricao}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <div class="flex align-center prl-1-5">
                        <button mat-button type="button" (click)="addCurso()" color="primary">
                            Adicionar &nbsp;
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </ng-container>
            </div>

            <title-line title="Cursos"></title-line>
            <div formArrayName="curso" class="grid grid--auto-fill-lg prl-0">
                <ng-container *ngFor="let curso of curso.controls; let i=index">
                    <div [formGroupName]="i" class="flex form-registro">
                        <div class="align-center">
                            <button (click)="removeDoFormArray(form.get('curso'), i)"
                                color="warn" mat-icon-button matTooltip="Excluir">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>

                        <mat-label class="flex-fill align-center mw-0">
                            {{ curso.get('nomeCurso') ? (curso.get('nomeCurso').value ? curso.get('nomeCurso').value : '-') : '-' }}
                        </mat-label>
                    </div>
                </ng-container>
            </div>
        </form>
    </div>
</div>

<div *ngIf="!error" mat-dialog-actions>
    <button mat-button (click)="salvarData()" color="primary">Salvar</button>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>

<ng-template #loading>
    <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>
