@import '../../../../../scss/theme.scss';
@import "../../../../../scss/functions.scss";

mat-checkbox {
    margin: 0.5rem 1rem;
}

form {
    padding-bottom: 0;
}

.form-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 1.5rem;
}

.grid--auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
}

mat-form-field, mat-chip-list, .form-select {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-width: 400px;
}

mat-divider {
    position: relative !important;
    align-self: center;
    margin: 0 2rem;
}

.grid, .grid--auto-fit-lg {
    padding: 0;
}

.sm-column {
    max-width: 15% !important;
}

.btn-options {
    display: flex;
    justify-content: flex-end;
}

mat-divider {
    align-self: center;
    margin: 0 2rem;
}

table {
    width: 100%;
}

.table {
    width: 100%;
    overflow-x: auto;
}

.btn-add {
    max-width: 300px;
}

::ng-deep.mat-dialog-container {
    max-height: 90vh !important;
    overflow-y: auto;
}

.selected {
    background-color: #dddddd;
}


@include mobile {
    form, .mat-form-field, .form-select, .checkbox, .mat-radio-button {
        padding-left: 0;
        padding-right: 0;
    }

    .form-registro {
        flex-direction: column;
        align-self: flex-start;
    }

    .form-options {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 1.5rem;
    }

    .form-registro {
        flex-direction: column;
        align-self: flex-start;
    }

    .mat-card {
        padding: 1rem 0 !important;
    }

    .grid--auto-fill, .grid--auto-fit-lg {
        grid-template-columns: none;
    }

    .mat-form-field, .mat-chip-list {
        min-width: 0 !important;
    }
}
