<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <div class="flex flex-column align-center">
        <mat-icon color="warn">warning</mat-icon>
        <h1>Oferecer ao aluno o pagamento via cartão de crédito ou débito, informar as vantagens:</h1>
    </div>
    <div class="flex flex-column prl-1-5">
        <span *ngFor="let item of vantagens">{{ item }}</span>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="navegar(0)" color="primary">Cartão de crédito</button>
    <button *ngIf="!isAluno" mat-button (click)="navegar(1)" color="primary">Cartão de débito</button>
    <button mat-button (click)="navegar(3)" color="primary">Continuar Boleto Bancário</button>
</div>
