<div mat-dialog-title class="flex flex-row">
    Detalhes dos Pagamentos
    <div class="flex-fill"></div>
    <div class="btn-options">
        <button color="primary" (click)="dialogRef.close()" mat-icon-button matTooltip="Fechar">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-content>
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!error;else errorTemplate">
        <div class="grid grid--auto-fill">
            <p *ngFor="let item of descricoes"><strong class="primary">{{ item.label }}: &nbsp;</strong>{{ item.value }}</p>
        </div>

        <mat-tab-group class="mt-1" *ngIf="!isLoadingResults">
            <mat-tab label="Histórico do Pagamento">
                <app-folha-pagamento-historico [historico]="historico"></app-folha-pagamento-historico>
            </mat-tab>
            <mat-tab label="Recibo do Pagamento">
                <ng-template matTabContent>
                    <app-folha-pagamento-recibo [id]="id"></app-folha-pagamento-recibo>
                </ng-template>
            </mat-tab>
            <mat-tab label="Comprovante de Transação Bancária">
                <app-folha-pagamento-transacao  [id]="id"></app-folha-pagamento-transacao>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>