<div class="body">
    <div class="flex">
        <header>{{ (id === 0) ? 'Adicionar' : 'Alterar' }} Produto</header>
        <div class="flex-fill"></div>
        <div>
            <button mat-button color="primary" (click)="voltar()">Voltar</button>
        </div>
    </div>

    <mat-card class="mat-elevation-z8" *ngIf="!error;else errorTemplate">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <div class="loading-shade" *ngIf="isLoadingResults">
                <mat-spinner></mat-spinner>
            </div>
            <div class="content" *ngIf="!isLoadingResults">
                <form [formGroup]="form">
                    <div class="grid grid--auto-fill mt-1">
                        <mat-form-field>
                            <mat-label>Nome do Produto</mat-label>
                            <input formControlName="nomeProduto" matInput appTitlecase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Alerta Quantidade Mínima</mat-label>
                            <input formControlName="alertaQuantidadeMinima" type="number" matInput>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Data de Entrada</mat-label>
                            <input matInput formControlName="dataEntrada" [matDatepicker]="dataEntrada">
                            <mat-datepicker-toggle matSuffix [for]="dataEntrada"></mat-datepicker-toggle>
                            <mat-datepicker #dataEntrada></mat-datepicker>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid grid--auto-fill">
                        <mat-form-field *ngIf="unidades; else loading">
                            <mat-label>Unidade</mat-label>
                            <mat-select formControlName="unidadeId">
                                <mat-option *ngFor="let unidade of unidades" [value]="unidade.id">
                                  {{unidade.nome}}
                                </mat-option>
                              </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Código NCM</mat-label>
                            <input formControlName="codigoNCM" matInput>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Código Interno</mat-label>
                            <input formControlName="codigoInterno" matInput>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div *ngIf="!isLoadingResults" class="flex">
                <div>
                    <button mat-button color="primary" (click)="voltar()">Voltar</button>
                </div>
                <div class="flex-fill"></div>
                <div>
                    <button mat-raised-button color="primary" type="submit" (click)="salvarData()" cdkFocusInitial>Salvar</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>

<ng-template #loading>
    <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>
