<div class="body">
    <div class="flex">
        <header>Controle de Ponto - Funcionário</header>
    </div>

    <mat-card class="mat-elevation-z8">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <div class="content">
                <form [formGroup]="form" class="flex flex-row">
                    <mat-form-field class="flex-column">
                        <mat-label>CPF</mat-label>
                        <input formControlName="cpf" [mask]="cpfMask" matInput>
                        <mat-error>Informação necessária</mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex-column">
                        <mat-label>Início do período</mat-label>
                        <input matInput formControlName="dataInicio" [matDatepicker]="dataInicio">
                        <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
                        <mat-datepicker #dataInicio></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="flex-column">
                        <mat-label>Fim do período</mat-label>
                        <input matInput formControlName="dataFim" [matDatepicker]="dataFim">
                        <mat-datepicker-toggle matSuffix [for]="dataFim"></mat-datepicker-toggle>
                        <mat-datepicker #dataFim></mat-datepicker>
                    </mat-form-field>

                    <div class="form-options">
                        <div class="align-center">
                            <button (click)="getPontoEletronico()" mat-button color="primary">
                                Pesquisar
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z8 mt-3">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <div class="loading-shade" *ngIf="isLoadingResults">
                <mat-spinner></mat-spinner>
            </div>
            <div class="content" *ngIf="!isLoadingResults">
                <div class="flex">
                    <div class="flex-fill"></div>
                    <div>
                        <button mat-button (click)="openFerias()" color="primary" [disabled]="!pesquisou">Registrar ausência</button>
                    </div>
                </div>

                <!-- Individuo -->
                <div class="grid grid--auto-fit">
                    <ng-container *ngFor="let info of infoFilter">
                        <div class="filter-info">
                            <mat-label>{{ info.label }}:</mat-label>
                            <mat-chip-list>
                                <mat-chip color="primary" selected>{{ info.value }}</mat-chip>
                            </mat-chip-list>
                        </div>
                    </ng-container>
                </div>

                <!-- Tabela -->
                <div class="flex flex-fill">
                    <div class="table">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="data">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Data </th>
                                <td mat-cell *matCellDef="let element"> {{element.dataCadastrado ? element.dataCadastrado : '-'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="entrada1">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Entrada 1 </th>
                                <td mat-cell *matCellDef="let element"> {{ajustarHora(element.entrada1)}} </td>
                            </ng-container>

                            <ng-container matColumnDef="saida1">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Saída 1</th>
                                <td mat-cell *matCellDef="let element"> {{ajustarHora(element.saida1)}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="entrada2">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Entrada 2</th>
                                <td mat-cell *matCellDef="let element"> {{ajustarHora(element.entrada2)}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="saida2">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Saída 2</th>
                                <td mat-cell *matCellDef="let element"> {{ajustarHora(element.saida2)}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="entrada3">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Entrada 3 </th>
                                <td mat-cell *matCellDef="let element"> {{ajustarHora(element.entrada3)}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="saida3">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Saída 3 </th>
                                <td mat-cell *matCellDef="let element"> {{ajustarHora(element.saida3)}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="entrada4">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Entrada 4 </th>
                                <td mat-cell *matCellDef="let element"> {{ajustarHora(element.entrada4)}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="saida4">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Saída 4 </th>
                                <td mat-cell *matCellDef="let element"> {{ajustarHora(element.saida4)}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="saldo">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Saldo</th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="flex align-center">
                                        <mat-chip-list>
                                            <mat-chip [ngClass]="setColor(element.saldoDevedor)">{{element.saldoDevedor ? element.saldoDevedor : '00:00'}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="horaExtra">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Hora extra pago </th>
                                <td mat-cell *matCellDef="let element"><mat-icon *ngIf="element.pago" class="green" matTooltip="Horas extras paga">monetization_on</mat-icon> </td>
                            </ng-container>

                            <ng-container matColumnDef="regime">
                                <th mat-header-cell *matHeaderCellDef class="md-column"> Regime </th>
                                <td mat-cell *matCellDef="let element"> {{ajustarRegime(element.regimeContratacao)}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ocorrencias">
                                <th mat-header-cell *matHeaderCellDef class="sm"> Ocorrências</th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <div class="btn-options">
                                        <button *ngIf="element.tipoOcorrenciaPonto != 6" type="button" (click)="openOcorrencias(element)" color="primary" mat-icon-button matTooltip="Ocorrência">
                                            <mat-icon>report_problem</mat-icon>
                                        </button>
                                        <button (click)="excluir(element.id)" color="warn" mat-icon-button matTooltip="Excluir" >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                            (click)="selection.toggle(row)" [ngClass]="{ 'selected': selection.isSelected(row) }"></tr>
                        </table>
                    </div>
                </div>

                <!-- Fotter -->
                <div class="flex mt-3">
                    <div class="filter-info">
                        <mat-label>Férias:</mat-label>
                        <mat-chip-list>
                            <mat-chip [ngClass]="setColorStatusFerias(statusFerias)" selected>{{ statusFerias ? statusFerias : '-' }}</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div class="flex-fill"></div>
                    <div class="filter-info">
                        <mat-label>Saldo de horas:</mat-label>
                        <mat-chip-list>
                            <mat-chip [ngClass]="setColor(saldoDevedorTotal)" selected>{{ saldoDevedorTotal ? saldoDevedorTotal : '-' }}</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>