<div class="div-tentativas-contato" *ngIf="data.dadosTentativas != null">

    <div mat-dialog-actions align="end">
        <button mat-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="div-tentativas-anteriores">
        <p class="p-tentativas-anteriores">
            <strong>Outbounds Realizados:</strong>
        </p>
    </div>

    <div class="div-main animate-up delay-2">
        <ng-container *ngFor="let historico of data.dadosTentativas">
            <div class="div-tentativas">

                <div class="div-dados-editaveis-tentativas">
                    <p class="p-dados-editaveis-tentativas">
                        <strong>{{ historico.numeroOutbound }}ª Outbound</strong>
                    </p>
                </div>

                <div class="div-dados-editaveis-tentativas">
                    <p class="p-dados-editaveis-tentativas">
                        <strong>Horário de Contato:</strong>
                    </p>
                    <p class="p-resposta">
                        {{ historico.dataHoraContato | date:'dd/MM/yyyy'}}
                    </p>
                </div>

                <div class="div-dados-editaveis-tentativas">
                    <p class="p-dados-editaveis-tentativas">
                        <strong>Motivo do Não Agendamento:</strong>
                    </p>
                    <p class="p-resposta">
                        {{
                        historico.motivodoNaoAgendamento == 1
                        ? "Cliente Está Indeciso"
                        : historico.motivodoNaoAgendamento == 2
                        ? "Desempregado"
                        : historico.motivodoNaoAgendamento == 3
                        ? "Sem Condições Financeiras"
                        : historico.motivodoNaoAgendamento == 4
                        ? "Para outra pessoa"
                        : historico.motivodoNaoAgendamento == 5
                        ? "Confirmar com terceiros"
                        : historico.motivodoNaoAgendamento == 6
                        ? "Não Tem Idade Para Matrícula"
                        : historico.motivodoNaoAgendamento == 7
                        ? "Ligação Caiu"
                        : historico.motivodoNaoAgendamento == 12
                        ? "Caixa Postal"
                        : historico.motivodoNaoAgendamento == 13
                        ? "Não atende"
                        : historico.motivodoNaoAgendamento == 14
                        ? "Retorno"
                        : historico.motivodoNaoAgendamento == 15
                        ? "Lançamento Mídias"
                        : " "
                        }}
                    </p>
                </div>

                <div class="div-dados-editaveis-tentativas">
                    <p class="p-dados-editaveis-tentativas">
                        <strong>Agendamento na Época:</strong>
                    </p>
                    <p class="p-resposta">
                        {{
                        historico.agendamentodaMatricula == 3
                        ? "Não Agendou"
                        : historico.agendamentodaMatricula == 1
                        ? "Secretaria"
                        : historico.agendamentodaMatricula == 2
                        ? "Delivery"
                        : "-"
                        }}
                    </p>
                </div>

                <div class="div-dados-editaveis-tentativas">
                    <p class="p-dados-editaveis-tentativas">
                        <strong>Data do Agendamento:</strong>
                    </p>
                    <p class="p-resposta">
                        {{
                        historico.dataeHoradoAgendamento | date:'dd/MM/yyyy'
                        }}
                    </p>
                </div>

                <div class="div-dados-editaveis-tentativas">
                    <p class="p-dados-editaveis-tentativas">
                        <strong>Hora do Agendamento:</strong>
                    </p>
                    <p class="p-resposta">
                        {{
                        historico.dataeHoradoAgendamento | date:'HH:mm:ss'
                        }}
                    </p>
                </div>

                <div class="div-dados-editaveis-tentativas">
                    <p class="p-dados-editaveis-tentativas">
                        <strong>Atendente:</strong>
                    </p>
                    <p class="p-resposta" *ngFor="let usuario of usuariosUnidade">
                        {{usuario.id == historico.usuarioCadastro ? usuario.userName : ""}}
                    </p>
                </div>

                <div class="div-dados-editaveis-tentativas">
                    <p class="p-dados-editaveis-tentativas">
                        <strong>Observações:</strong>
                    </p>
                    <p class="p-resposta">
                        {{ historico.observacao }}
                    </p>
                </div>

                <div class="div-espaco-final"></div>

            </div>

            <mat-divider></mat-divider>
        </ng-container>
    </div>

</div>

<div class="div-tentativas-contato" *ngIf="data.dadosTentativas == null && data.dadosTentativas == undefined">

    <div class="div-texto">
        <p class="p-nada">
            Não Há Outbounds Anteriores!
        </p>
    </div>

    <div class="div-botao">
        <button mat-raised-button color="primary" class="b-nada" (click)="close()">
            OK
        </button>
    </div>

</div>