<div class="body">
    <div class="flex">
        <header>{{ (id === 0) ? 'Adicionar' : 'Alterar' }} despesa</header>
        <div class="flex-fill"></div>
        <div>
            <button mat-button color="primary" (click)="voltar()">Voltar</button>
        </div>
    </div>

    <mat-card class="mat-elevation-z8" *ngIf="!error;else errorTemplate">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <div class="loading-shade" *ngIf="isLoadingResults">
                <mat-spinner></mat-spinner>
            </div>
            <div class="content" *ngIf="!isLoadingResults">
                <form [formGroup]="form">
                    <title-line title="Dados Gerais"></title-line>
                    <div class="grid grid--auto-fill mt-1">
                        <mat-form-field>
                            <mat-label>Nome da despesa</mat-label>
                            <input formControlName="nomeDespesa" matInput appTitlecase>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field class="flex-column" *ngIf="unidadesDefault; else loading">
                            <mat-label>Unidade</mat-label>
                            <input matInput [matAutocomplete]="auto" formControlName="unidadeSelect">
                            <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let unidade of filterUnidades | async" [value]="unidade.nome">
                                  <span>{{unidade.nome}}</span>
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="unidadesDefault; else loading">
                            <mat-label>Centro de Custo</mat-label>
                            <mat-select formControlName="centroCustoId">
                                <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id">
                                  {{departamento.nome}}
                                </mat-option>
                              </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="categoriasDefault; else loading">
                            <mat-label>Categoria</mat-label>
                            <input matInput [matAutocomplete]="auto" formControlName="categoria">
                            <mat-icon (click)="addCategoria()" class="pointer" color="primary" matSuffix
                                matTooltip="Adicionar categoria">add_circle</mat-icon>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let categoria of filterCategorias | async"
                                    [value]="categoria.descricao">
                                    <div class="flex flex-row">
                                        <span>{{categoria.descricao}}</span>
                                        <div class="flex-fill"></div>
                                        <div class="align-center">
                                            <mat-icon (click)="deleteCategoria()" class="pointer" color="warn" matSuffix
                                                matTooltip="Excluir">delete</mat-icon>
                                        </div>
                                    </div>
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Tipo de Despesa</mat-label>
                            <mat-select formControlName="tipoDespesa">
                                <mat-option [value]="1"> Boleto bancário </mat-option>
                                <mat-option [value]="2"> Transferência </mat-option>
                                <mat-option [value]="3"> Guia DARF </mat-option>
                                <mat-option [value]="4"> Guia GPS </mat-option>
                              </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid grid--auto-fill" *ngIf="form.get('tipoDespesa').value === 1 || form.get('tipoDespesa').value === 2">
                        <mat-form-field>
                            <mat-label>Vencimento</mat-label>
                            <input matInput formControlName="dataVencimento" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Valor</mat-label>
                            <span matPrefix><strong>R$</strong> &nbsp;</span>
                            <input formControlName="valorTotalDespesa" currencyMask matInput>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid grid--auto-fill" *ngIf="form.get('tipoDespesa').value === 1 || form.get('tipoDespesa').value === 2">
                        <mat-form-field>
                            <mat-label>Tipo de Pessoa</mat-label>
                            <mat-select formControlName="tipoPessoa">
                                <mat-option [value]="1"> Pessoa Jurídica </mat-option>
                                <mat-option [value]="2"> Pessoa Física </mat-option>
                              </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field class="flex-column" *ngIf="fornecedorDefault; else loading">
                            <mat-label>Fornecedor</mat-label>
                            <input matInput [matAutocomplete]="auto" formControlName="fornecedorSelect">
                            <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let fornecedor of filterFornecedor | async" [value]="fornecedor.nomeFantasia">
                                    <span>{{fornecedor.nomeFantasia}}</span>
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint class="blue pointer" routerLink="/financeiro/cadastro-fornecedor-cliente/adicionar/0">Cadastrar fornecedor</mat-hint>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Data de Emissão</mat-label>
                            <input matInput formControlName="dataEmissao" [matDatepicker]="pickerEmissao">
                            <mat-datepicker-toggle matSuffix [for]="pickerEmissao"></mat-datepicker-toggle>
                            <mat-datepicker #pickerEmissao></mat-datepicker>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                    </div>

                    <div *ngIf="form.get('tipoDespesa').value === 2" class="grid grid--auto-fill">
                        <mat-form-field>
                            <mat-label>Banco</mat-label>
                            <mat-select formControlName="codigoBanco">
                                <mat-option *ngFor="let banco of bancos" [value]="banco.codigoBanco">
                                    {{ banco.nomeBanco }}
                                </mat-option>
                            </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Tipo de conta</mat-label>
                            <mat-select formControlName="tipoContaBancaria">
                                <mat-option [value]="1"> Conta corrente </mat-option>
                                <mat-option [value]="2"> Poupança </mat-option>
                                <mat-option [value]="3"> Conta salário </mat-option>
                            </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Agência Bancária</mat-label>
                            <input formControlName="numeroAgencia" matInput>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Conta Bancária</mat-label>
                            <input formControlName="numeroConta" matInput>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                    </div>

                    <!-- DARF -->
                    <title-line title="Guia DARF" *ngIf="form.get('tipoDespesa').value === 3"></title-line>
                    <div formGroupName="despesaDARF" class="flex flex-column" *ngIf="form.get('tipoDespesa').value === 3">
                        <div class="guia-linha">
                            <mat-label class="guia-label"> 01. Nome do Contribuinte</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="nomeContribuinte" appTitlecase>
                            </mat-form-field>
                            <mat-label class="align-center">(opcional)</mat-label>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 02. Período de Apuração</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="periodoApuracao" [matDatepicker]="pickerDARFApuracao">
                                <mat-datepicker-toggle matSuffix [for]="pickerDARFApuracao"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDARFApuracao></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 03. CPF / CNPJ</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="cnpjCpf" [mask]="cpfCnpjMask">
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 04. Código da Receita</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="codigoReceita">
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 05. Número de Referência</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="numeroReferencia">
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 06. Data de Vencimento</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="dataVencimento" [matDatepicker]="pickerDARFVencimento">
                                <mat-datepicker-toggle matSuffix [for]="pickerDARFVencimento"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDARFVencimento></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 07. Valor Principal (R$)</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="valorPrincipal" currencyMask>
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 08. Valor da Multa (R$)</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="valorMulta" currencyMask>
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 09. Valor dos Juros e/ou Encargos (R$)</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="valorJurosEncargos" currencyMask>
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 10. Valor Total (R$)</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="valorTotal" currencyMask disabled>
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> Data de Pagamento</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="dataPagamento" [matDatepicker]="pickerDARFPagamento">
                                <mat-datepicker-toggle matSuffix [for]="pickerDARFPagamento"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDARFPagamento></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> Referência da Empresa</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="referenciaEmpresa" appTitlecase>
                            </mat-form-field>
                            <mat-label class="align-center">(opcional)</mat-label>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> Identificação dp Comprovante</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="identificacaoComprovante">
                            </mat-form-field>
                            <mat-label class="align-center">(opcional)</mat-label>
                        </div>
                    </div>

                    <!-- GPS -->
                    <title-line title="Guia GPS" *ngIf="form.get('tipoDespesa').value === 4"></title-line>
                    <div formGroupName="despesaGPS" class="flex flex-column" *ngIf="form.get('tipoDespesa').value === 4">
                        <div class="guia-linha">
                            <mat-label class="guia-label"> 01. Nome do Contribuinte</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="nomeContribuinte" appTitlecase>
                            </mat-form-field>
                            <mat-label class="align-center">(opcional)</mat-label>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 03. Código do Pagamento</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="codigoPagamento">
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 04. Competência</mat-label>
                            <mat-form-field>
                                <input class="hidden" matInput formControlName="competencia" [matDatepicker]="competencia">
                                <input matInput [ngModel]="form.get('despesaGPS').get('competencia').value | date : 'MM/yyyy'" [ngModelOptions]="{standalone: true}" (click)="competencia.open()" [readonly]="true">
                                <mat-datepicker-toggle matSuffix [for]="competencia"></mat-datepicker-toggle>
                                <mat-datepicker #competencia startView="multi-year" (monthSelected)="closeDatePicker($event, competencia, form.get('despesaGPS').get('competencia'))"></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 05. Identificador</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="identificador" [mask]="identificadorMask">
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 06. Valor do INSS (R$)</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="valorINSS" currencyMask>
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 09. Valor de outras entidades (R$)</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="valorOutrasEntidades" currencyMask>
                            </mat-form-field>
                            <mat-label class="align-center">(opcional)</mat-label>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 10. Atualização monetária/Juros/Mora (R$)</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="atualizacaoMonetariaJuroMora" currencyMask>
                            </mat-form-field>
                            <mat-label class="align-center">(opcional)</mat-label>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> 11. Valor total a recolher (R$)</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="valorTotalRecolher" currencyMask disabled>
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> Data do pagamento</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="dataPagamento" [matDatepicker]="pickerGPS">
                                <mat-datepicker-toggle matSuffix [for]="pickerGPS"></mat-datepicker-toggle>
                                <mat-datepicker #pickerGPS></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> Identificação do comprovante</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="identificaçãoComprovante">
                            </mat-form-field>
                            <mat-label class="align-center">(opcional)</mat-label>
                        </div>

                        <div class="guia-linha">
                            <mat-label class="guia-label"> Referência da empresa</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="referenciaEmpresa" appTitlecase>
                            </mat-form-field>
                            <mat-label class="align-center">(opcional)</mat-label>
                        </div>
                    </div>

                    <title-line title="Detalhes da Conta"></title-line>
                    <div class="grid grid--auto-fill mt-1">
                        <mat-form-field>
                            <mat-label>Nºdo documento, Nota Fiscal, ordem de serviço ou Código do Imposto</mat-label>
                            <input matInput formControlName="numeroDocumento">
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Parcelas</mat-label>
                            <mat-select formControlName="tipoParcela">
                                <mat-option [value]="1"> Única </mat-option>
                                <mat-option [value]="2"> Parcelada </mat-option>
                                <mat-option [value]="3"> Despesa Recorrente </mat-option>
                              </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Quantidade de Parcelas</mat-label>
                            <input matInput formControlName="quantidadeParcela" type="number">
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <div class="flex align-center">
                            <button (click)="gerar()" [disabled]="this.id != 0" mat-button type="button" color="primary">
                                Gerar &nbsp;
                                <mat-icon>shopping_cart</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="flex form-registro">
                        <mat-form-field class="flex-fill">
                            <mat-label>Descrição da despesa</mat-label>
                            <textarea formControlName="observacao" matInput ></textarea>
                        </mat-form-field>
                    </div>

                    <title-line title="Documentos"></title-line>
                    <mat-chip-list>
                        <mat-chip class="bg-yellow" selected>Anexar aqui boletos, notas fiscais, guias de impostos, pedidos, orçamentos referente esta despesa</mat-chip>
                    </mat-chip-list>

                    <div class="flex form-registro">
                        <mat-form-field class="flex-fill">
                            <mat-label>Descrição</mat-label>
                            <input formControlName="descricao" matInput appTitlecase>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Tipo de anexo</mat-label>
                            <mat-select formControlName="tipoAnexo">
                                <mat-option [value]="0"> Outros </mat-option>
                                <mat-option [value]="13"> Nota Fiscal </mat-option>
                                <mat-option [value]="14"> Boleto Bancário </mat-option>
                                <mat-option [value]="15"> Guia Imposto </mat-option>
                                <mat-option [value]="16"> Pedido </mat-option>
                                <mat-option [value]="17"> Orçamento </mat-option>
                            </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <div class="flex align-center">
                            <button mat-button type="button" (click)="fileUp.click()" color="primary">
                                Documento  &nbsp;
                                <mat-icon>cloud_upload</mat-icon>
                            </button>
                        </div>
                    </div>


                    <div class="table">
                        <table mat-table [dataSource]="anexoSource" [hidden]="isLoadingResults">
                            <ng-container matColumnDef="descricao">
                                <th mat-header-cell *matHeaderCellDef> Descrição  </th>
                                <td mat-cell *matCellDef="let element"> {{element.descricao ? element.descricao : '-'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="tipo">
                                <th mat-header-cell *matHeaderCellDef> Tipo do Documento  </th>
                                <td mat-cell *matCellDef="let element"> {{labelAnexo(element.tipoAnexo)}} </td>
                            </ng-container>

                            <ng-container matColumnDef="dataAnexo">
                                <th mat-header-cell *matHeaderCellDef> Data do Documento  </th>
                                <td mat-cell *matCellDef="let element"> {{element.dataAnexo ? (element.dataAnexo | datePtBr) : '-'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="options">
                                <th mat-header-cell *matHeaderCellDef class="sm-column"> </th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <div class="btn-options">
                                        <button [disabled]="element.id === 0" type="button" (click)="download(element.id, element.arquivoString, element.extensao)" color="primary" mat-icon-button matTooltip="Download" >
                                            <mat-icon>arrow_downward</mat-icon>
                                        </button>
                                        <button type="button" (click)="removeAnexo(element.id, i)" color="warn" mat-icon-button matTooltip="Excluir" >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="anexoColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: anexoColumns;"
                                (click)="selectionAnexo.toggle(row)" [ngClass]="{ 'selected': selectionAnexo.isSelected(row) }"></tr>
                        </table>
                    </div>

                    <title-line title="Parcelas"></title-line>
                    <div class="table">
                        <table mat-table [dataSource]="dataSource" formArrayName="despesaParcela">
                            <ng-container matColumnDef="data">
                                <th mat-header-cell *matHeaderCellDef class="sm-column"> Data </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index" class="table-form">
                                    <mat-form-field *ngIf="form.get('tipoParcela').value !== 3; else recorrente">
                                        <input matInput formControlName="dataVencimento" [matDatepicker]="dataVencimento">
                                        <mat-datepicker-toggle matSuffix [for]="dataVencimento"></mat-datepicker-toggle>
                                        <mat-datepicker #dataVencimento></mat-datepicker>
                                        <mat-error>Informação necessária</mat-error>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="valor">
                                <th mat-header-cell *matHeaderCellDef class="sm-column"> Valor </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index" class="table-form">
                                    <mat-form-field>
                                        <span matPrefix><strong>R$</strong> &nbsp;</span>
                                        <input formControlName="valorParcela" currencyMask matInput>
                                        <mat-error>Informação necessária</mat-error>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="codigo">
                                <th mat-header-cell *matHeaderCellDef> Código de Barra </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index" class="table-form">
                                    <mat-form-field>
                                        <input matInput formControlName="codigoBarras">
                                        <mat-error>Informação necessária</mat-error>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="formaPagamento">
                                <th mat-header-cell *matHeaderCellDef> Forma de Pagamento </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index" class="table-form">
                                    <mat-form-field>
                                        <mat-select formControlName="tipoPagamento">
                                            <mat-option [value]="1"> Cartão de crédito </mat-option>
                                            <mat-option [value]="2"> Cartão de débito </mat-option>
                                            <mat-option [value]="3"> Boleto bancário </mat-option>
                                            <mat-option [value]="4"> Transferência bancária </mat-option>
                                            <mat-option [value]="5"> Dinheiro </mat-option>
                                            <mat-option [value]="6"> Guia de Pagamento </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="manual">
                                <th mat-header-cell *matHeaderCellDef> Lançamento Manual </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index" class="table-form">
                                    <div class="flex align-center prl-1-5">
                                        <mat-slide-toggle formControlName="lancamentoManual" color="primary"></mat-slide-toggle>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="options">
                                <th mat-header-cell *matHeaderCellDef class="options"> </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                                    <div class="btn-options">
                                        <ng-container [ngSwitch]="habilitarDelPagamento(this.form.get('despesaParcela'), index)">
                                            <button *ngSwitchCase="1" color="warn" mat-icon-button matTooltip="Cancelar"
                                                (click)="excluirParcela(this.form.get('despesaParcela'), index)">
                                                <mat-icon>delete</mat-icon>
                                            </button>

                                            <button *ngSwitchCase="2" mat-icon-button class="green" matTooltip="Pago">
                                                <mat-icon>check_circle</mat-icon>
                                            </button>

                                            <button *ngSwitchCase="3" mat-icon-button class="red" matTooltip="Cancelado">
                                                <mat-icon>cancel</mat-icon>
                                            </button>

                                            <p *ngSwitchDefault></p>
                                    </ng-container>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index"
                            [ngClass]="corLinhaParcela(index)"
                            (click)="selectionParcelas.toggle(row)" [ngClass]="{ 'selected': selectionParcelas.isSelected(row) }"></tr>
                        </table>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div *ngIf="!isLoadingResults" class="flex">
                <div>
                    <button mat-button color="primary" (click)="voltar()">Voltar</button>
                </div>
                <div class="flex-fill"></div>
                <div>
                    <button mat-raised-button color="primary" (click)="salvarData()" cdkFocusInitial>Salvar</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

<input #fileUp class="file-upload" type="file" (change)="loadFile($event)">

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>

<ng-template #loading>
    <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>

<ng-template #recorrente>
    <span>Recorrente</span>
</ng-template>

<ng-template #iconOk>
    <button mat-icon-button class="green" matTooltip="Pago">
        <mat-icon>check_circle</mat-icon>
    </button>
</ng-template>
