<div class="body">
    <ng-container>
        <div class="flex flex-column container-time-line" *ngIf="historico?.dataPagamento">
            <div class="flex">
                <div class="time-line">
                    <mat-icon class="green">check_circle</mat-icon>
                    <div class="flex-fill line"></div>
                </div>
                <div class="flex-column flex-fill">
                    <div class="flex-row">
                        <p class="flex-fill green">
                            <strong>Pagamento Efetuado</strong>
                        </p>
                        <span class="time-line-hour"><mat-icon>alarm</mat-icon>&nbsp; {{ historico?.dataPagamento ? (historico.dataPagamento | datePtBr) : ' - ' }}</span>
                    </div>
                    <mat-divider class="w-100"></mat-divider>
                    <div class="flex-column">
                        <p class="flex-fill">
                            <strong>Valor pago: &nbsp;</strong> {{ historico?.valorTotalPagamento ? (historico.valorTotalPagamento | currency) : ' - ' }}
                        </p>
                        <span class="flex-fill">
                            <strong>Usuário: &nbsp;</strong> {{ historico?.bancoPagamento ? historico.bancoPagamento : ' - ' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="flex flex-column container-time-line" *ngIf="historico?.dataCadastro">
            <div class="flex">
                <div class="time-line">
                    <mat-icon class="yellow">monetization_on</mat-icon>
                    <div class="flex-fill line"></div>
                </div>
                <div class="flex-column flex-fill">
                    <div class="flex-row">
                        <p class="flex-fill yellow">
                            <strong>Pagamento Cadastrado</strong>
                        </p>
                        <span class="time-line-hour"><mat-icon>alarm</mat-icon>&nbsp; {{ historico?.dataCadastro ? (historico.dataCadastro | datePtBr) : ' - ' }}</span>
                    </div>
                    <mat-divider class="w-100"></mat-divider>
                    <div class="flex-column">
                        <p class="flex-fill">
                            <strong>Valor pago: &nbsp;</strong> {{ historico?.valorTotalPagamento ? (historico.valorTotalPagamento | currency) : ' - ' }}
                        </p>
                        <span class="flex-fill">
                            <strong>Usuário: &nbsp;</strong> {{ historico?.nomeUsuario ? historico.nomeUsuario : ' - ' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>