<h1> Relatório - Matrículas </h1>

<div class="div-frame">
    <p class="p-frame"> Matrículas dos Alunos por Unidade</p>
    <iframe title="alunos" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=ee783acc-c7c8-4e41-89c8-9110760095d8&autoAuth=true&ctid=f04a4f07-0e74-445b-b9c3-81106e6049ce&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="div-frame">
    <p class="p-frame"> Formas de Pagamentos</p>
    <iframe title="pagamentos" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=36200118-8600-47bf-be5c-2d8e1b9dd1b8&autoAuth=true&ctid=f04a4f07-0e74-445b-b9c3-81106e6049ce&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="div-frame">
    <p class="p-frame"> Canal de Tração</p>
    <iframe title="canal de tração" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=299be07b-4234-42fd-a827-38a4a96263b6&autoAuth=true&ctid=f04a4f07-0e74-445b-b9c3-81106e6049ce&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="div-frame">
    <p class="p-frame"> Gêneros por Unidades</p>
    <iframe title="genero" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=84f2ca5d-20bd-43b7-a242-4648d64376e5&autoAuth=true&ctid=f04a4f07-0e74-445b-b9c3-81106e6049ce&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>
