<div class="body">
    <div class="flex">
        <header>{{ ( (id === 0) || replicar) ? 'Adicionar' : 'Alterar' }} turma</header>
        <div class="flex-fill"></div>
        <div>
            <button mat-button color="primary" (click)="voltar()">Voltar</button>
        </div>
    </div>

    <mat-card class="mat-elevation-z8" *ngIf="!error;else errorTemplate">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <div class="loading-shade" *ngIf="isLoadingResults">
                <mat-spinner></mat-spinner>
            </div>
            <div class="content" *ngIf="!isLoadingResults">

                <form [formGroup]="form">
                    <!-- Criação de turmas -->
                    <title-line title="Criação de turma"></title-line>
                    <div class="grid grid--auto-fill">
                        <mat-form-field>
                            <mat-label>Curso</mat-label>
                            <mat-select formControlName="curso" multiple>
                                <mat-option *ngFor="let curso of cursos" [value]="curso.id">
                                    {{ curso.descricao }}
                                </mat-option>
                            </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Modalidade</mat-label>
                            <mat-select formControlName="presencial">
                                <mat-option [value]="true"> Presencial </mat-option>
                                <mat-option [value]="false"> Distância </mat-option>
                            </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Ano</mat-label>
                            <mat-select formControlName="ano">
                                <mat-option *ngFor="let ano of anos" [value]="ano">
                                    {{ ano }}
                                </mat-option>
                            </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Vigência</mat-label>
                            <mat-select formControlName="semestre">
                                <mat-option value="1"> 1º Semestre </mat-option>
                                <mat-option value="2"> 2º Semestre </mat-option>
                                <mat-option value="3"> Anual       </mat-option>
                                <mat-option value="4"> Bimestral   </mat-option>
                                <mat-option value="5"> Trimestral  </mat-option>
                            </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Inicio da Aula</mat-label>
                            <input formControlName="inicioTurma" matInput [matDatepicker]="inicioTurma">
                            <mat-datepicker-toggle matSuffix [for]="inicioTurma"></mat-datepicker-toggle>
                            <mat-datepicker #inicioTurma></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Término da Aula</mat-label>
                            <input formControlName="terminoTurma" matInput [matDatepicker]="terminoTurma">
                            <mat-datepicker-toggle matSuffix [for]="terminoTurma"></mat-datepicker-toggle>
                            <mat-datepicker #terminoTurma></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="grid">
                        <div class="checkbox">
                            <div class="flex flex-row">
                                <p>Dia da semana</p>
                            </div>
                            <div class="flex form-registro">
                                <mat-checkbox formControlName="segunda"  color="primary">Segunda    </mat-checkbox>
                                <mat-checkbox formControlName="terca"    color="primary">Terça      </mat-checkbox>
                                <mat-checkbox formControlName="quarta"   color="primary">Quarta     </mat-checkbox>
                                <mat-checkbox formControlName="quinta"   color="primary">Quinta     </mat-checkbox>
                                <mat-checkbox formControlName="sexta"    color="primary">Sexta      </mat-checkbox>
                                <mat-checkbox formControlName="sabado"   color="primary">Sábado     </mat-checkbox>
                                <mat-checkbox formControlName="domingo"  color="primary">Domingo    </mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="grid grid--auto-fill">
                        <mat-form-field>
                            <mat-label>Período</mat-label>
                            <mat-select formControlName="periodo">
                                <mat-option *ngFor="let periodo of periodos" [value]="periodo.value">
                                    {{ periodo.label }}
                                </mat-option>
                            </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Horário de inicio</mat-label>
                            <input formControlName="horarioInicio" matInput [mask]="hourMinute">
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Horário de término</mat-label>
                            <input formControlName="horarioTermino" matInput [mask]="hourMinute">
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid grid--auto-fill">
                        <mat-form-field>
                            <mat-label>Sala</mat-label>
                            <mat-select formControlName="sala">
                                <mat-option *ngFor="let sala of salas" [value]="sala">
                                    Sala {{ sala }}
                                </mat-option>
                            </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Disponível</mat-label>
                            <mat-select formControlName="disponivel">
                                <mat-option [value]="true"> Sim </mat-option>
                                <mat-option [value]="false"> Não </mat-option>
                            </mat-select>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Vagas</mat-label>
                            <input  type="number" formControlName="quantidadeVagas" matInput>
                            <mat-error>Informação necessária</mat-error>
                            <mat-error>Digite apenas números inteiros Ex: 1,2,3</mat-error>
                        </mat-form-field>
                    </div>

                    <title-line title="Adicionar unidade"></title-line>
                    <div class="flex form-registro">
                        <mat-form-field class="flex-fill">
                            <mat-label>Unidades</mat-label>
                            <input matInput [matAutocomplete]="auto" formControlName="unidadeSelect">
                            <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let unidade of filterUnidades | async" [value]="unidade.nome">
                                  <span>{{unidade.nome}}</span>
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error>Informação necessária</mat-error>
                        </mat-form-field>
                        <div class="flex align-center">
                            <button mat-button type="button" (click)="addUnidade()" color="primary">
                                Adicionar &nbsp;
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-fill">
                        <div class="table">
                            <table mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="descricao">
                                    <th mat-header-cell *matHeaderCellDef> Unidades adicionadas </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nome ? element.nome : '-'}} </td>
                                </ng-container>
                    
                                <ng-container matColumnDef="options">
                                    <th mat-header-cell *matHeaderCellDef class="sm-column"> </th>
                                    <td mat-cell *matCellDef="let element; let i = index"> 
                                       <div class="btn-options">
                                            <button type="button" (click)="removeUnidade(i)" color="warn" mat-icon-button matTooltip="Excluir" >
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                       </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    (click)="selection.toggle(row)" [ngClass]="{ 'selected': selection.isSelected(row) }"></tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div *ngIf="!isLoadingResults" class="flex">
                <div>
                    <button mat-button color="primary" (click)="voltar()">Voltar</button>
                </div>
                <div class="flex-fill"></div>
                <div>
                    <button mat-raised-button color="primary" (click)="salvarData()" cdkFocusInitial>Salvar</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>