<h1> Relatório - Cancelamentos </h1>

<div class="div-frame">
    <p class="p-frame"> Cancelamentos por Unidades</p>
    <iframe title="cancelamentos - Cancelados" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=23617ba6-dd2f-41ed-bc67-443016dbd838&autoAuth=true&ctid=9beeb631-93a4-42f4-821e-9e3fed017b59&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWJyYXppbC1zb3V0aC1iLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>