<div *ngIf="isAluno">
  <app-aluno-portal></app-aluno-portal>
  <mat-card class="div-minhas-aulas">
    <p class="titulo-minhas-aulas">Minhas Apostilas</p>
  </mat-card>

  <div *ngIf="!isLoadingResults" class="grid-video-aula">
    <div *ngIf="materialLiberado && materias.length > 0">
      <mat-card class="card-minhas-aulas">
        <div class="grid-lista-video">
          <mat-list *ngFor="let materia of materias">
            <mat-divider></mat-divider>
            <mat-list-item class="lista-materias" (click)="goToApostilaOnline(materia)">
              {{ materia.nomeApostila }}
              <mat-icon class="icone-materias">arrow_forward_ios</mat-icon>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card>
    </div>
    <div *ngIf="!materialLiberado || !(materias.length > 0)">
      <mat-card class="card-minhas-aulas">
        <div class="grid-lista-video">
          <mat-list >
            <mat-divider></mat-divider>
            <mat-list-item class="lista-materias">
              Nenhum material disponível
              <mat-icon class="icone-materias">arrow_forward_ios</mat-icon>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card>
    </div>
  </div>
</div>
