<div class="body">
    <form [formGroup]="form" class="grid grid--auto-fill">
        <mat-form-field>
            <mat-label>Unidade</mat-label>
            <input matInput [matAutocomplete]="auto" formControlName="unidadeSelect">
            <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let unidade of filterUnidades | async" [value]="unidade.nome">
                    <span>{{unidade.nome}}</span>
                </mat-option>
            </mat-autocomplete>
            <mat-error>Informação necessária</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Início do período</mat-label>
            <input matInput formControlName="dataInicio" [matDatepicker]="dataInicio">
            <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
            <mat-datepicker #dataInicio startView="multi-year" (monthSelected)="closeDatePicker($event, dataInicio, 'dataInicio')"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fim do período</mat-label>
            <input matInput formControlName="dataFim" [matDatepicker]="dataFim">
            <mat-datepicker-toggle matSuffix [for]="dataFim"></mat-datepicker-toggle>
            <mat-datepicker #dataFim startView="multi-year" (monthSelected)="closeDatePicker($event, dataFim, 'dataFim')"></mat-datepicker>
            <mat-error>Data final deve ser maior que data inicial</mat-error>
        </mat-form-field>

        <div class="form-options">
            <div class="align-center">
                <button (click)="getAll()" mat-button color="primary">
                    Pesquisar
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </form>
    <div *ngIf="!error;else errorTemplate">
        <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner></mat-spinner>
        </div>

        <div class="table">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="unidade">
                    <th mat-header-cell *matHeaderCellDef> Unidade </th>
                    <td mat-cell *matCellDef="let element"> {{ajustarUnidade(element?.unidadeId)}} </td>
                </ng-container>

                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef> Data </th>
                    <td mat-cell *matCellDef="let element"> {{element?.data ? element.data : '-'}} </td>
                </ng-container>

                <ng-container matColumnDef="comissao">
                    <th mat-header-cell *matHeaderCellDef> Tipo de Comissão </th>
                    <td mat-cell *matCellDef="let element"> {{element?.comissao ? 'Equipe' : 'Individual'}} </td>
                </ng-container>

                <ng-container matColumnDef="quantidadePrimeiraParcelaPaga">
                    <th mat-header-cell *matHeaderCellDef> Quantidade de Primeira Parcela Paga </th>
                    <td mat-cell *matCellDef="let element">
                        {{element?.quantidadePrimeiraParcelaPaga ? element.quantidadePrimeiraParcelaPaga : ' - '}} </td>
                </ng-container>

                <ng-container matColumnDef="valorComissao">
                    <th mat-header-cell *matHeaderCellDef> Valor da Comissão </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-list>
                            <mat-chip class="bg-green">
                                {{element?.valorComissao ? (element.valorComissao | currency) : '-'}}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-list>
                            <mat-chip class="bg-green">{{
                                element?.statusPagamento ? 
                                (element.statusPagamento === 1 ? 'A Receber' : 'Pago') : 
                                '-'}}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)" [ngClass]="{ 'selected': selection.isSelected(row) }"></tr>
            </table>
        </div>
    </div>
    <div class="w-100" [hidden]="error">
        <mat-paginator [pageSizeOptions]="[50, 150, 100]" showFirstLastButtons></mat-paginator>
    </div>

    <div class="filter-info">
        <mat-label>Total:</mat-label>
        <mat-chip-list>
            <mat-chip color="primary" selected>
                {{metaComissoes?.total ? (metaComissoes?.total | currency) : ' - ' }}</mat-chip>
        </mat-chip-list>
    </div>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>