@import '../../../scss/functions.scss';

#body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF url("../../../assets/fundo_desktop.png") no-repeat right top fixed;
  background-size: cover;
  background-attachment: fixed;

  @include mobile {
    width: 100.5%;
    height: 100.5%;
  }

  //background: linear-gradient(0deg,rgb(153 153 169 / 87%),rgb(206 163 163 / 60%) 50%,#d47f83);
  //background: linear-gradient(0deg, rgb(204 195 195 / 87%), rgb(191 159 159) 50%, #d29ea1);
  //background: -moz-linear-gradient(45deg, rgba(2,0,36,0.8645658947172619) 0%, rgba(46,104,231,0.5984594521402311) 50%, rgba(0,76,255,1) 100%);
  //background: -webkit-linear-gradient(45deg, rgba(2,0,36,0.8645658947172619) 0%, rgba(46,104,231,0.5984594521402311) 50%, rgba(0,76,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#004cff",GradientType=1); 
}

.login {
  min-width: 500px;

  @include mobile {
    min-width: 90%;
  }
}

form {
  display: flex;
  flex-direction: column;
}

mat-card-title {
  font-size: 17pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  flex-direction: column;
  color: gray;
}

.title {
  height: 100%;
  display: flex;
  margin: 0 auto 0;
}

mat-card-subtitle {
  flex-direction: column;
}

mat-card-actions {
  button {
    padding: 1rem;
    margin: 0 !important;
    mat-icon {
      width: 50px;
      height:30px;
    }
  }
}

.portal_logos {
  max-width: 250px;
  display: flex;
  margin: 0 auto 0;  
}

@include mobile {
  .portal_logos {
      max-width: 150px;
      display: flex;
      margin: 0 auto 0;
  }
}