<div mat-dialog-title class="flex flex-row">
    {{ data?.data?.dataCadastrado ? (data.data.dataCadastrado + ' - ') : '' }}Controle de ponto - Ocorrências
    <div class="flex-fill"></div>
    <div class="btn-options">
        <button color="primary" (click)="dialogRef.close(updated)" mat-icon-button matTooltip="Fechar">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-content>
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!error;else errorTemplate">
        <form [formGroup]="form">
            <div class="grid grid--auto-fit">
                <mat-form-field>
                    <mat-label>Entrada 1</mat-label>
                    <input formControlName="entrada1" [mask]="hourMinute" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Saída 1</mat-label>
                    <input formControlName="saida1" [mask]="hourMinute" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Entrada 2</mat-label>
                    <input formControlName="entrada2" [mask]="hourMinute" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Saída 2</mat-label>
                    <input formControlName="saida2" [mask]="hourMinute" matInput>
                </mat-form-field>
            </div>

            <div class="grid grid--auto-fit">
                <mat-form-field>
                    <mat-label>Entrada 3</mat-label>
                    <input formControlName="entrada3" [mask]="hourMinute" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Saída 3</mat-label>
                    <input formControlName="saida3" [mask]="hourMinute" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Entrada 4</mat-label>
                    <input formControlName="entrada4" [mask]="hourMinute" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Saída 4</mat-label>
                    <input formControlName="saida4" [mask]="hourMinute" matInput>
                </mat-form-field>
            </div>

            <div class="grid grid--auto-fill">
                <mat-form-field>
                    <mat-label>Tipo de ocorrência</mat-label>
                    <mat-select formControlName="tipoOcorrenciaPonto">
                        <mat-option [value]="1"> Falta </mat-option>
                        <mat-option [value]="2"> Atestado</mat-option>
                        <mat-option [value]="3"> Declaração</mat-option>
                        <mat-option [value]="4"> Atraso </mat-option>
                        <mat-option [value]="5"> Hora extra </mat-option>
                        <mat-option [value]="7"> Folga </mat-option>
                        <mat-option [value]="8"> Correção de Ponto </mat-option>
                        <mat-option [value]="9"> Outros </mat-option>
                    </mat-select>
                    <mat-error>Informação necessária</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Regime</mat-label>
                    <mat-select formControlName="regimeContratacao">
                        <mat-option [value]="1"> CLT Seg a Sex </mat-option>
                        <mat-option [value]="6"> CLT Seg a Sab </mat-option>
                        <mat-option [value]="2"> Estágio Seg a Sex</mat-option>
                        <mat-option [value]="7"> Estágio Seg a Sab </mat-option>
                        <mat-option [value]="3"> Professor Autônomo</mat-option>
                        <mat-option [value]="4"> Professor CLT</mat-option>
                        <mat-option [value]="5"> Profissional Autônomo </mat-option>
                        <mat-option [value]="8"> Autônomo Pré CLT Seg a Sex </mat-option>
                        <mat-option [value]="9"> Autônomo Pré CLT Seg a Sab </mat-option>
                        <mat-option [value]="10"> Autônomo Pré Estágio Seg a Sex </mat-option>
                        <mat-option [value]="11"> Autônomo Pré Estágio Seg a Sab </mat-option>
                    </mat-select>
                    <mat-error>Informação necessária</mat-error>
                </mat-form-field>
            </div>

            <div class="flex form-registro">
                <mat-form-field class="flex-fill">
                    <mat-label>Observações</mat-label>
                    <textarea formControlName="observacao" matInput ></textarea>
                </mat-form-field>
            </div>

            <div class="grid grid--auto-fill">
                <mat-form-field>
                    <mat-label>Descrição do documento</mat-label>
                    <input formControlName="documento" matInput appTitlecase>
                </mat-form-field>

                <div class="flex align-center">
                    <button mat-button type="button" (click)="fileUp.click()" color="primary">
                        Documento  &nbsp;
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                    <mat-icon *ngIf="loadedFile" color="primary">check</mat-icon>
                </div>
            </div>
        </form>

        <div class="flex flex-fill">
            <div class="table">
                <table mat-table [dataSource]="dataSource" [hidden]="isLoadingResults">
                    <ng-container matColumnDef="descricao">
                        <th mat-header-cell *matHeaderCellDef> Descrição  </th>
                        <td mat-cell *matCellDef="let element"> {{element.descricao ? element.descricao : '-'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dataAnexo">
                        <th mat-header-cell *matHeaderCellDef> Data do Documento  </th>
                        <td mat-cell *matCellDef="let element"> {{element.dataAnexo ? (element.dataAnexo | datePtBr) : '-'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef class="sm-column"> </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                           <div class="btn-options">
                                <button type="button" (click)="download(element.id, element.arquivoString, element.extensao)" color="primary" mat-icon-button matTooltip="Download" >
                                    <mat-icon>arrow_downward</mat-icon>
                                </button>
                                <button type="button" (click)="removeAnexo(element.id, i)" color="warn" mat-icon-button matTooltip="Excluir" >
                                    <mat-icon>delete</mat-icon>
                                </button>
                           </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)" [ngClass]="{ 'selected': selection.isSelected(row) }"></tr>
                </table>
            </div>
        </div>
    </div>
    <mat-progress-bar *ngIf="sendingAnexo" mode="indeterminate"color="primary"></mat-progress-bar>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="adicionar()" color="primary">Adicionar</button>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>

<input #fileUp class="file-upload" type="file" (change)="loadFile($event)">
