@import '../../../../scss/theme.scss';
@import "../../../../scss/functions.scss";

.aula {
    min-height: 180px;
    background-color: #d7d7d7;
}

.mat-expansion-panel-header-title {
    color: mat-color($theme-primary) !important;
}

.grid-video-aula {
    display: grid;
    grid-template-columns: 4fr 1fr;
    //grid-template-areas:
    //    "video grid-img-aluno"
}

.video {
    grid-area: video;
}

.grid-lista-video {
    grid-area: grid-img-aluno;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24pt !important;
    color: mat-color($theme-primary) !important;
}

@include mobile {
    .grid--auto-fill, .grid--auto-fit-lg {
        grid-template-columns: none;
    }

    .grid-video-aula {
        grid-template-columns: none;
        grid-template-rows: none;
        grid-template-areas: none;
        display: flex;
        flex-direction: column;
    }

    .grid {
        padding: 0;
    }
}

.grade-icones {
    background-color: #f1f1f1;
}

.icone_grade {
    width: 25%;
    height: 75%;
    padding-bottom: 2%;

    @include mobile {
        width: 50%;
        height: 85%;
    }

    @include ipad {
        width: 25%;
        height: 75%;
    }
}

.nome-unidade-curso {
    background-color: #ffffff;
    padding-bottom: 1.5%;
}

.aluno_curso {
    font-size: 2.5ex;
    text-align: center;
    display: block !important;
    padding-top: 5px;
    color: #767171;

    @include mobile {
        font-size: 13px;
    }
}

.aluno_unidade {
    font-size: 2ex;
    text-align: center;
    display: block !important;
    margin: 0px;
    color: #767171;
    
    @include mobile {
        font-size: 12px;
    }
}

.card-cabeça-portal {
    background-color: transparent;
    box-shadow: transparent;
    padding: 0% !important;
}

.botao-icone {
    flex-direction: column;
}

.p-icone {
    margin: -5%;
    padding: 0;
    color: #534f4f;

    @include mobile {
        font-size: 12.5px;
    }
}

.qwert {
    max-height: 245px !important;
    min-height: 213px !important;
    height: 100%;
    padding: 0;

    @include mobile {
        max-height: 183px !important;
        min-height: 165px !important;
    }
}

.mat-grid-tile .mat-figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    box-sizing: border-box;
}

.tab-icones-palavras {
    flex-direction: column;
}

.example-tab-icon {
    flex-direction: column;
}

.grid4 {
    left: 17% !important;
}

.grid6 {
    right: 17% !important;
    left: 49% !important;
}

.card_video_aula {
    padding-top: 0;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;

    @include mobile {
        padding-top: 1%;
        padding-bottom: 6%;
    }
}

// ::after {
//     content: '';
//     display: block;
//     margin-top: 6px;
//     width: 110px;
//     height: 5px;
//     background-color: #df1f1f;
// }

.titulo_aula_online {
    margin: 0;
    padding-left: 12px;
    padding-right: 25px;
    line-height: normal;
    font-weight: normal;
    font-family: 'Roboto Condensed',Tahoma,Arial,Helvetica,sans-serif;
    margin-left: 7%;
    font-size: 33px;
    color: #233258;
    margin-bottom: 21px;
    margin-top: -20px;

    @include mobile {
        font-size: 24px;
    }
}

.footer-minha-aula {
    position: fixed;
    bottom: 0;
    //width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    text-align: right;
    margin-right: 15px;
    margin-left: 92%;

    @include mobile {
        margin-left: 77%;
    }
}

.botao-go-to-up {
    margin-right: 2%;
    margin-bottom: 1%;
    z-index: 1;
    
    @include mobile {
        background-color: #797979 !important;
    }
}

.mat-icon {
    @include mobile {
        color: white !important;
    }
}

.botao-voltar {
    background-color: unset;
    border-width: 0;
    border-color: unset; 
    padding: 0;
    //text-align: center;
    align-items: end;
    cursor: pointer;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
}

.texto-titulo {
    margin-left: 15px;
}

.img-botao-voltar {
    width: 100%;
    align-items: center;
    padding: 0;
}

.div-botao-voltar {
    z-index: 1;
    top: 0;
    margin-right: 4%;
    margin-top: 3% !important;
    text-align: right;
}

.data-aula {
    font-size: 17px;
    color: #EC3425;
    text-align: center;
    font-family: 'Roboto Condensed',Tahoma,Arial,Helvetica,sans-serif;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 2%;

    @include mobile {
        font-size: 13px;
    }
}

.aula-atual {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto Condensed',Tahoma,Arial,Helvetica,sans-serif;
    line-height: 1.4;
    color: #333333;
    margin: 0;
    margin-bottom: 5%;

    @include mobile {
        font-size: 22px;
    }
}

.frame-video {
    width: 640px;
    height: 360px;
    border: none;
    

    @include mobile {
        width: 100%;
        height: 190px;
    }
}