<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <div class="flex flex-column align-center">
        <mat-icon color="warn">warning</mat-icon>
        <h1>ATENÇÃO</h1>
        <h4 class="center">Os vencimentos da 1ª e 2ª parcelas estão para o mesmo mês.</h4>
        <h4 class="center">Verifique se os vencimentos estão corretos antes de clicar em "Gerar Cobrança"</h4>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="close()" color="primary">Ok</button>
</div>