<div mat-dialog-title class="flex flex-row">
    Imprimir recibo {{ nome ? (' - ' + nome) : '' }}
    <div class="flex-fill"></div>
    <div class="btn-options">
        <button color="primary" (click)="dialogRef.close()" mat-icon-button matTooltip="Fechar">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-content>
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!error;else errorTemplate">
        <form [formGroup]="form">
            <div class="grid grid--auto-fill">
                <mat-form-field>
                    <mat-label>Data</mat-label>
                    <input formControlName="data" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Valor &nbsp; &nbsp;</mat-label>
                    <span matPrefix><strong>R$</strong> &nbsp;</span>
                    <input formControlName="valor" currencyMask matInput>
                    <mat-error>Informação necessária</mat-error>
                </mat-form-field>
            </div>

            <div class="flex form-registro">
                <mat-form-field class="flex-fill">
                    <mat-label>Correspondente a</mat-label>
                    <textarea formControlName="descricao" matInput></textarea>
                </mat-form-field>
            </div>

            <div class="flex form-registro">
                <div class="flex-fill"></div>
                <div class="flex align-center">
                    <button mat-button type="button" (click)="imprimir()" color="primary">
                        Imprimir  &nbsp;
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>