<div mat-dialog-title class="flex flex-row">
    Documentos - {{ nome }}
    <div class="flex-fill"></div>
    <div class="btn-options">
        <button color="primary" (click)="dialogRef.close()" mat-icon-button matTooltip="Fechar">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-content>
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!error;else errorTemplate">
        <form [formGroup]="form">
            <p class="text-center">Documentos Mínimos Necessários (Contrato Social, CNPJ, Procuração Pública, Contrato de Locação, Alvará de Funcionamento, AVCB - Bombeiros, Espelho de IPTU)</p>
            <div class="flex form-registro">
                <mat-form-field class="flex-fill">
                    <mat-label>Descrição</mat-label>
                    <input formControlName="descricao" matInput appTitlecase>
                </mat-form-field>
                <div class="flex align-center">
                    <button mat-button type="button" (click)="fileUp.click()" color="primary">
                        Documento  &nbsp;
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex flex-fill">
                <div class="table">
                    <table mat-table [dataSource]="dataSource" [hidden]="isLoadingResults">
                        <ng-container matColumnDef="descricao">
                            <th mat-header-cell *matHeaderCellDef> Descrição  </th>
                            <td mat-cell *matCellDef="let element"> {{element.descricao ? element.descricao : '-'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="dataAnexo">
                            <th mat-header-cell *matHeaderCellDef> Data do Documento  </th>
                            <td mat-cell *matCellDef="let element"> {{element.dataAnexo ? (element.dataAnexo | datePtBr) : '-'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef class="sm-column"> </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                               <div class="btn-options">
                                    <button type="button" (click)="download(element.id, element.arquivoString, element.extensao)" color="primary" mat-icon-button matTooltip="Download" >
                                        <mat-icon>arrow_downward</mat-icon>
                                    </button>
                                    <button type="button" (click)="removeAnexo(element.id, i)" color="warn" mat-icon-button matTooltip="Excluir" >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                               </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                            (click)="selection.toggle(row)" [ngClass]="{ 'selected': selection.isSelected(row) }"></tr>
                    </table>
                </div>
            </div>

        </form>
    </div>
    <mat-progress-bar *ngIf="sendingAnexo" mode="indeterminate"color="primary"></mat-progress-bar>
</div>

<input #fileUp class="file-upload" type="file" (change)="loadFile($event)">

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>
