$light-grey: #E0E0E0;
$grey-color: #37474f;
$darker-grey-color: #263238;
$green: #0b8457;
$light-green: #e8ffe7;
$red: #ce3535;
$light-red: #ffe8e7;
$orange: #e65100;
$light-orange: #ffd5bf;
$yellow: #f6c523;
$blue: #035aa6;
