@import '../../../scss/theme.scss';
@import '../../../scss/variable.scss';
@import "../../../scss/functions.scss";

.mat-sidenav {
    background-color: #df1e1e;
    min-width: 18.5rem;
    
    .version {
        padding: 0 1.5rem;
        text-align: end;
        color: #ffffff;
    }
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

::ng-deep.mat-drawer-inner-container {
    display: flex !important;
    flex-direction: column !important;
    margin-left: 0;
}

.sidenav-container {
    flex: 1;
    background-color: #d7d7d7;
}
    
.is-mobile .sidenav-container {
    flex: 1 0 auto;
    background-color: #d7d7d7;
}

.mat-toolbar {
    z-index: 10;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        font-size: 14pt !important;
    }
}

.logo-central-barra-top {
    display: flex;
    z-index: 100;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    margin-left: -2%;

    @include mobile {
        margin-left: -4%;
    }
}

.logo {
    max-width: 18% !important;
    cursor: pointer;

    @include mobile {
        max-width: 160px !important;
        max-height: 53px !important;
    }

    @include ipad {
        max-width: 220px !important;
        max-height: 72px !important;
    }

    @include bigscreen {
        max-width: 290px !important;
        max-height: 95px !important;
    }
}

.sidenav .navbtn .hamburgerMenu {
    display: inline-block;
    cursor: pointer;
}

.hamburgerMenu .bar1, .hamburgerMenu .bar2, .hamburgerMenu .bar3 {
    width: 35px;
    height: 5px;
    background-color: #df1e1e;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1000;

    img {
        width: 3rem;
        margin-right: 5px;
    }
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem 1.5rem 1.5rem;

    img {
        width: 5rem;
        margin: 1rem 0;
    }

    .setor {
        font-size: 9pt;
        font-weight: 100;
    }
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}