<h1> Relatório - Financeiro </h1>

<div class="div-frame">
    <p class="p-frame"> Receita Geral</p>
    <iframe title="receita geral" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=62ccd6ab-4e27-4ea3-8002-b6e86f7eb040&autoAuth=true&ctid=f04a4f07-0e74-445b-b9c3-81106e6049ce&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="div-frame">
    <p class="p-frame"> Receita por Unidade</p>
    <iframe title="receita unidade" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=87e3f346-91de-499f-bec0-8f2f9fefea35&autoAuth=true&ctid=f04a4f07-0e74-445b-b9c3-81106e6049ce&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="div-frame">
    <p class="p-frame"> Inadimplente</p>
    <iframe title="inadimplente" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=d00ccb97-8480-47e3-9b5c-ddca0a82d81a&autoAuth=true&ctid=f04a4f07-0e74-445b-b9c3-81106e6049ce&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="div-frame">
    <p class="p-frame"> Lista de Inadimplente</p>
    <iframe title="lista inadimplente" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=dbed35a7-dfd1-4d5e-b732-0e7d662b2d34&autoAuth=true&ctid=f04a4f07-0e74-445b-b9c3-81106e6049ce&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>