<h1> Relatório - Comissões </h1>

<div class="div-frame">
    <p class="p-frame"> Comissões a pagar por Matrícula</p>
    <iframe title="matriculas" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=9b56711e-5089-4cde-a063-6ce8cf87d8e5&autoAuth=true&ctid=f04a4f07-0e74-445b-b9c3-81106e6049ce&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="div-frame">
    <p class="p-frame"> Comissões a pagar por Atendimento</p>
    <iframe title="atendimento" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=ece38e7e-4310-47af-9d36-ac22b6aa6db5&autoAuth=true&ctid=f04a4f07-0e74-445b-b9c3-81106e6049ce&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="div-frame">
    <p class="p-frame"> Comissões a pagar por Agendamento</p>
    <iframe title="agendamento" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=ea99eaca-6ca3-48d1-afa4-19779fff4823&autoAuth=true&ctid=f04a4f07-0e74-445b-b9c3-81106e6049ce&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>