<div class="body">
    <div class="flex">
        <header> {{ nomeAula ? (nomeAula + ' - ') : ''}} Questão</header>
        <div class="flex-fill"></div>
        <div>
            <button mat-button color="primary" (click)="voltar()">Voltar</button>
        </div>
    </div>

    <mat-card class="mat-elevation-z8" *ngIf="!error;else errorTemplate">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <div class="loading-shade" *ngIf="isLoadingResults">
                <mat-spinner></mat-spinner>
            </div>
            <div class="content" *ngIf="!isLoadingResults">
                <form [formGroup]="form">
                    <div class="flex form-registro">
                        <mat-form-field class="flex-fill">
                            <mat-label>Descrição</mat-label>
                            <textarea matInput rows="10" formControlName="descricaoPergunta"></textarea>
                        </mat-form-field>
                    </div>

                    <div  class="img-pergunta">
                        <div class="flex-row align-center jc-center prl-1-5">
                            <button (click)="uploadQuestao.click()" [disabled]="form.get('id').value === 0" color="primary" mat-icon-button matTooltip="Upload imagem"
                                matBadge="✔" [matBadgeHidden]="!showDownload(form)" matBadgeColor="accent">
                                <mat-icon>insert_photo</mat-icon>
                            </button>
                            <button (click)="downloadQuestao()" *ngIf="showDownload(form)" color="primary" mat-icon-button matTooltip="Download imagem" >
                                <mat-icon>arrow_downward</mat-icon>
                            </button>
                            <button (click)="deleteImg(form)"*ngIf="showDownload(form)" color="warn" mat-icon-button matTooltip="Excluir imagem" >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                    <title-line title="Respostas"></title-line>
                    <button mat-button (click)="addResposta()" color="primary">
                        Adicionar Resposta &nbsp;
                        <mat-icon>add</mat-icon>
                    </button>

                    <div class="table">
                        <table mat-table [dataSource]="dataSource" formArrayName="resposta">
                            <ng-container matColumnDef="opcao">
                                <th mat-header-cell *matHeaderCellDef class="options"> Opção </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index" class="table-form"> 
                                    <mat-form-field>
                                        <input matInput formControlName="opcao">
                                    </mat-form-field>
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="descricao">
                                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index" class="table-form">
                                    <mat-form-field>
                                        <input matInput formControlName="descricao">
                                    </mat-form-field>
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="correta">
                                <th mat-header-cell *matHeaderCellDef class="options"> Correta </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index" class="table-form">
                                    <mat-radio-button (click)="setCertaResposta(index)" [checked]="index === respostaCertaSelected" color="primary" [value]="index"></mat-radio-button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="img">
                                <th mat-header-cell *matHeaderCellDef class="options"> Imagem </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index" class="table-form">
                                    <div class="btn-options">
                                        <button (click)="setResposta(form.get('resposta'), index); uploadQuestao.click()" color="primary" 
                                            [disabled]="!hasIdResposta(form.get('resposta'), index)"
                                            matBadge="✔" [matBadgeHidden]="!hasImgResposta(form.get('resposta'), index)"
                                            matBadgeColor="accent" mat-icon-button matTooltip="Upload imagem" >
                                            <mat-icon>insert_photo</mat-icon>
                                        </button>
                                        <button (click)="deleteImg(form.get('resposta'), index)" *ngIf="showDownload(form.get('resposta'), index)" color="warn" mat-icon-button matTooltip="Excluir imagem" >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="options">
                                <th mat-header-cell *matHeaderCellDef class="options"> </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index"> 
                                    <div class="btn-options">
                                        <button (click)="downloadResposta(form.get('resposta'), index)" *ngIf="showDownload(form.get('resposta'), index)" color="primary" mat-icon-button matTooltip="Download" >
                                            <mat-icon>arrow_downward</mat-icon>
                                        </button>
                                        <button (click)="removeDoFormArray(form.get('resposta'), index)" color="warn" mat-icon-button matTooltip="Excluir resposta" >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index"
                                (click)="selection.toggle(row)" [ngClass]="{ 'selected': selection.isSelected(row) }"></tr>
                        </table>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="flex">
                <div>
                    <button mat-button color="primary" (click)="voltar()">Voltar</button>
                </div>
                <div class="flex-fill"></div>
                <div>
                    <button mat-raised-button color="primary" type="button" (click)="salvarData()" cdkFocusInitial>Salvar</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

<input #uploadQuestao  class="file-upload" type="file" accept='image/*' (change)="loadImgQuestao($event)">

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>

<ng-template #iconFile>
    <div class="flex-column align-center jc-center prl-1-5">
        <mat-icon color="primary">insert_photo</mat-icon>
        <mat-label>Imagem</mat-label>
    </div>
</ng-template>

<ng-template #loading>
    <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>