<div class="body">
    <header>Gerenciador de Cursos e Turmas</header>

    <mat-card class="mat-elevation-z8">
        <mat-card-content>
            <mat-tab-group [selectedIndex]="selectedIndex">
                <mat-tab label="Cursos">
                     <app-curso></app-curso>
                </mat-tab>
                <mat-tab label="Turmas">
                    <app-turma></app-turma>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>