<div class="body">
    <form [formGroup]="form">
        <!-- Dados Gerais -->
        <title-line title="Dados Gerais"></title-line>
        <div class="grid grid--auto-fill">
            <mat-form-field>
                <mat-label>Nome do Proprietário</mat-label>
                <input formControlName="nomeProprietario" matInput appTitlecase>
                <mat-error>Informação necessária</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Telefone do Proprietário</mat-label>
                <input formControlName="telefoneProprietario" [mask]="maskTelefoneProprietario" matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Imobiliária - Administrador do Imóvel</mat-label>
                <input formControlName="nomeImobiliaria" matInput appTitlecase>
                <mat-error>Informação necessária</mat-error>
            </mat-form-field>
        </div>
        <div class="grid grid--auto-fill">
            <mat-form-field>
                <mat-label>Telefone da Imobiliária</mat-label>
                <input formControlName="telefoneFixo" [mask]="masktelefoneFixo" matInput>
                <mat-error>Informação necessária</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Celular da Imobiliária</mat-label>
                <input formControlName="celular" [mask]="maskCelular" matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>E-mail da Imobiliária</mat-label>
                <input formControlName="email" matInput appLowwercase>
                <mat-error>email</mat-error>
            </mat-form-field>
        </div>

        <!-- Período de Vigência -->
        <title-line title="Período de Vigência"></title-line>
        <div class="grid grid--auto-fill">
            <mat-form-field>
                <mat-label>Início</mat-label>
                <input formControlName="vigenciaInicio" matInput [matDatepicker]="vigenciaInicio">
                <mat-error>Informação necessária</mat-error>
                <mat-datepicker-toggle matSuffix [for]="vigenciaInicio"></mat-datepicker-toggle>
                <mat-datepicker #vigenciaInicio></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fim</mat-label>
                <input formControlName="vigenciaTermino" matInput [matDatepicker]="vigenciaTermino">
                <mat-error>Data final inválida</mat-error>
                <mat-datepicker-toggle matSuffix [for]="vigenciaTermino"></mat-datepicker-toggle>
                <mat-datepicker #vigenciaTermino></mat-datepicker>
            </mat-form-field>
        </div>

        <!-- Valores -->
        <title-line title="Valores"></title-line>
        <div class="grid grid--auto-fill">
            <mat-form-field>
                <mat-label>Aluguel Valor Mensal</mat-label>
                <span matPrefix><strong>R$</strong> &nbsp;</span>
                <input formControlName="valorAluguel" currencyMask matInput>
                <mat-error>Informação necessária</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Condomínio Valor Mensal</mat-label>
                <span matPrefix><strong>R$</strong> &nbsp;</span>
                <input formControlName="valorCondominio" currencyMask matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>IPTU Valor Mensal</mat-label>
                <span matPrefix><strong>R$</strong> &nbsp;</span>
                <input formControlName="valorIPTU" currencyMask matInput>
                <mat-error>Informação necessária</mat-error>
            </mat-form-field>
        </div>
    </form>

    <form [formGroup]="despesasForm">
        <!-- Despesas -->
        <title-line title="Adicionar Despesas"></title-line>
        <div class="flex form-registro">
            <mat-form-field class="flex-fill">
                <mat-label>Descrição</mat-label>
                <input formControlName="descricao" matInput appTitlecase>
            </mat-form-field>

            <mat-form-field class="flex-fill">
                <mat-label>Valor</mat-label>
                <span matPrefix><strong>R$</strong> &nbsp;</span>
                <input formControlName="valor" currencyMask matInput>
            </mat-form-field>

            <div class="flex align-center">
                <button mat-button type="button" [disabled]="btnAddDespesaHidden" (click)="addDespesa()" color="primary">
                    Adicionar &nbsp;
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="flex flex-fill">
            <div class="table">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="descricao">
                        <th mat-header-cell *matHeaderCellDef> Despesa </th>
                        <td mat-cell *matCellDef="let element"> {{element.descricao ? element.descricao : '-'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valor" class="column-sm">
                        <th mat-header-cell *matHeaderCellDef> Valor </th>
                        <td mat-cell *matCellDef="let element"> {{element.valor ? (element.valor | currency) : '-'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef class="column-sm"> </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                           <div class="btn-options">
                                <button type="button" (click)="removeDespesa(i)" color="warn" mat-icon-button matTooltip="Excluir" >
                                    <mat-icon>delete</mat-icon>
                                </button>
                           </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selection.toggle(row)" [ngClass]="{ 'selected': selection.isSelected(row) }"></tr>
                </table>
            </div>
        </div>
    </form>
</div>
