<div class="body">
    <header>Criação de Metas</header>

    <mat-card class="mat-elevation-z8">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <div class="content">
                <form [formGroup]="form" class="flex flex-row">
                    <mat-form-field class="flex-column" *ngIf="unidadesDefault; else loading">
                        <mat-label>Unidade</mat-label>
                        <input matInput [matAutocomplete]="auto" formControlName="unidadeSelect">
                        <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let unidade of filterUnidades | async" [value]="unidade.nome">
                              <span>{{unidade.nome}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="flex-column" *ngIf="metasDefault; else loading">
                        <mat-label>Nome da meta</mat-label>
                        <input matInput [matAutocomplete]="auto" formControlName="nomeMeta">
                        <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let meta of filterMetas | async" [value]="meta">
                              <span>{{meta}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <div class="form-options">
                        <div class="align-center">
                            <button (click)="getAll()" mat-button color="primary">
                                Pesquisar
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z8 mt-3">
        <mat-card-title>
            <button mat-icon-button color="primary" (click)="getAll()" matTooltip="Atualizar">
                <mat-icon>autorenew</mat-icon>
            </button>
            <div class="flex-fill"></div>
            <button mat-button (click)="goTelaIndividual()" color="primary">
                Adicionar &nbsp;
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content>
            <div *ngIf="!error;else errorTemplate">
                <div class="loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner></mat-spinner>
                </div>

                <div class="table">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="descricao">
                            <th mat-header-cell *matHeaderCellDef> Nome da Meta </th>
                            <td mat-cell *matCellDef="let element"> {{ element?.descricao ? element.descricao : '-' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="unidadeId">
                            <th mat-header-cell *matHeaderCellDef> Unidade </th>
                            <td mat-cell *matCellDef="let element"> {{ ajustarUnidade(element?.unidadeId) }} </td>
                        </ng-container>

                        <ng-container matColumnDef="inicioMeta">
                            <th mat-header-cell *matHeaderCellDef> Início do Período </th>
                            <td mat-cell *matCellDef="let element"> {{ element?.inicioMeta ? (element.inicioMeta | datePtBr) : '-' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="terminoMeta">
                            <th mat-header-cell *matHeaderCellDef> Fim do Período </th>
                            <td mat-cell *matCellDef="let element"> {{ element?.terminoMeta ? (element.terminoMeta | datePtBr) : '-' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="quantidade">
                            <th mat-header-cell *matHeaderCellDef> Total de Matrículas Meta </th>
                            <td mat-cell *matCellDef="let element"> {{ element?.quantidade ? element.quantidade : '-' }} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Bônus Meta Período </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-chip-list>
                                    <mat-chip color="primary" selected>
                                        {{ element?.bonusPeriodo ? (element?.bonusPeriodo | currency) : '-' }}
                                    </mat-chip>
                                </mat-chip-list>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element"> 
                                <div class="btn-options">
                                    <button (click)="goPainel(element)" color="primary" mat-icon-button matTooltip="Painel de metas e comissões">
                                        <mat-icon>dashboard</mat-icon>
                                    </button>
                                    <button (click)="goTelaIndividual(element.id)" color="primary" mat-icon-button matTooltip="Editar">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button (click)="excluir(element.id)" color="warn" mat-icon-button matTooltip="Excluir" >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                            (click)="selection.toggle(row)" [ngClass]="{ 'selected': selection.isSelected(row) }"></tr>
                    </table>
                </div>
            </div>

            <div class="w-100" [hidden]="error">
                <mat-paginator [pageSizeOptions]="[50, 150, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #errorTemplate>
    <app-server-error></app-server-error>
</ng-template>

<ng-template #loading>
    <mat-spinner [diameter]="25"></mat-spinner>
</ng-template>