@import '../../../../../../scss/theme.scss';
@import "../../../../../../scss/functions.scss";

.body {
    background-color: #ffffff;
}

.titulo {
    display: flex;
    justify-content: center;
}

.p-titulo{
    font-size: 27px;
    margin-top: -25px;
    margin-bottom: 20px;
}

.subtitulo {
    display: flex;
    justify-content: center;
}

.p-subtitulo {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 15px;
}

.div-celular-email {

}

.celular {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-celular {
    font-size: 20px;
    justify-content: center;
}

.alterar-celular {
    background-color: #147bcd;
    color: #ffffff;
    width: 40%;
    justify-content: center;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-email {
    font-size: 20px;
    justify-content: center;
}

.alterar-email {
    background-color: #147bcd;
    color: #ffffff;
    width: 40%;
    justify-content: center;
}


mat-divider {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.finalizacao {
    display: flex;
    justify-content: flex-end;
}

.p-final {
    justify-content: right;
}

.div-botoes-sim-nao {
    display: flex;
}

.botao-sim {
    background-color: #147bcd;
    color: #ffffff;
}

.botao-nao {
    background-color: #147bcd;
    color: #ffffff;
}

.div-botao-ok {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-ok {
    background-color: #147bcd;
    color: #ffffff;
}