<div class="table w-100">
    <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef class="md-column"> Descrição </th>
            <td mat-cell *matCellDef="let element"> 
                {{ element?.descricao ? element.descricao : ' - ' }}
            </td>
        </ng-container>
    
        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element">
                {{ element?.valor ? (element.valor | currency) : ' - ' }}
            </td>
        </ng-container>
    
        <ng-container matColumnDef="desconto">
            <th mat-header-cell *matHeaderCellDef> Descontos pontualidade</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.desconto ? (element.desconto + ' %') : ' - ' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="promocao">
            <th mat-header-cell *matHeaderCellDef> Promoção, Bolsa ou Convênio</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.promocaoBolsaConvenio ? (element.promocaoBolsaConvenio + ' %') : ' - ' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="tarifa">
            <th mat-header-cell *matHeaderCellDef> Tarifa Banco</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.tarifaBanco ? (element.tarifaBanco | currency) : ' - ' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="valorVencimento">
            <th mat-header-cell *matHeaderCellDef> Valor até o Vencimento</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.valorVencimento ? (element.valorVencimento | currency) : ' - ' }}
                <ng-container *ngIf="element?.valorPago">
                    <div class="flex flex-fill"><mat-divider></mat-divider></div>
                    <span [ngClass]="colorPago(element)" matTooltip="Valor pago" > <strong>{{ element?.valorPago ? (element.valorPago | currency) : ' - ' }} </strong></span>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data de Vencimento</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.dataVencimento ? (element.dataVencimento | datePtBr) : ' - ' }}
                <ng-container *ngIf="element?.dataPagamento">
                    <div class="flex flex-fill"><mat-divider></mat-divider></div>
                    <span [ngClass]="colorPago(element)" matTooltip="Data pagamento" > <strong> {{ element?.dataPagamento ? (element.dataPagamento | datePtBr) : ' - ' }} </strong></span>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Nosso número</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.nossoNumero ? element.nossoNumero : ' - ' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-mail Enviado</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="openDetalheEmail(element?.id)">
                    <mat-icon color="primary">email</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="situacao">
            <th mat-header-cell *matHeaderCellDef> Situação</th>
            <td mat-cell *matCellDef="let element">
                <ng-container [ngSwitch]="element?.tipoSituacao">
                    <button *ngSwitchCase="1" mat-button (click)="openDetalhePagamento()">
                        <mat-icon class="green">monetization_on</mat-icon>
                        <span class="green">&nbsp; Pago</span>
                    </button>

                    <button *ngSwitchCase="2" mat-button>
                        <mat-icon class="yellow">report</mat-icon>
                        <span class="yellow">&nbsp; Aberto</span>
                    </button>

                    <button *ngSwitchCase="3" mat-button>
                        <mat-icon class="green">monetization_on</mat-icon>
                        <span class="green">&nbsp; Isento</span>
                    </button>

                    <button *ngSwitchCase="4" mat-button>
                        <mat-icon class="red">cancel</mat-icon>
                        <span class="red">&nbsp; Inadimplente</span>
                    </button>

                    <button *ngSwitchCase="5" mat-button>
                        <mat-icon class="red">cancel</mat-icon>
                        <span class="red">&nbsp; Inadimplente bloqueado</span>
                    </button>

                    <button *ngSwitchCase="6" mat-button>
                        <mat-icon class="orange">report</mat-icon>
                        <span class="orange">&nbsp; Residual</span>
                    </button>

                    <p *ngSwitchDefault></p>
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index" [ngClass]="corLinhaParcela(row)"
            (click)="selection.toggle(row)" [ngClass]="{ 'selected': selection.isSelected(row) }"></tr>
    </table>
</div>