@import '../../../../../../../scss/theme.scss';
@import "../../../../../../../scss/functions.scss";
@import "../../../../../../../scss/variable.scss";


mat-checkbox {
    margin: 0.5rem 1rem;
}


.mat-header-cell {
    min-width: 150px;
}

.sm-column {
    max-width: 5rem !important;
    min-width: 5rem !important;
    width: 5rem !important;
}

.md-column {
    min-width: 15rem !important;
    width: 15rem !important;
}


table {
    width: 100%;
}

.table {
    width: 100%;
    overflow-x: auto;
}

.options {
    max-width: 3rem !important;
    min-width: 3rem !important;
    width: 3rem !important;
}

.mat-divider {
    position: relative !important;
    align-self: center;
    border-top-width: 3px;
    background-color: $light-grey;
}

.selected {
    background-color: #dddddd;
}

